@charset "UTF-8";
/* 기본스타일 */
.displayB {
  display: block;
}

.displayI {
  display: inline;
}

.displayIB {
  display: inline-block;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

header {
  width: 100%;
  height: 80px;
  min-width: 1024px;
  margin: 0 auto;
  background: #ffffff;
}

header .headerWrap {
  width: 96%;
  max-width: 1840px;
  min-width: 1050px;
  margin: 0 auto;
}

header .headerWrap > h1.logo {
  float: left;
  margin: 25px 20px 20px 0;
}

header .headerWrap > .serchBox {
  float: left;
  width: 30%;
  height: 30px;
  border-left: solid 1px #e6e6e6;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}

header .headerWrap > .serchBox input {
  border: none;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 1.4rem;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

header .headerWrap > .serchBox input::placeholder {
  color: #d6d6d6;
}

header .headerWrap > .serchBox input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d6d6d6;
}

header .headerWrap > .serchBox input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d6d6d6;
}

header .headerWrap > .serchBox .realSearch {
  background: #fff;
  border-radius: 30px;
  width: 600px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  z-index: 9;
  display: none;
}

header .headerWrap > .serchBox .realSearch > p {
  font-size: 1.2rem;
  color: #737f86;
  border-bottom: solid 1px #dce3e4;
  padding: 10px 20px;
}

header .headerWrap > .serchBox .realSearch > p span {
  color: #b9c3c5;
}

header .headerWrap > .serchBox .realSearch > ul {
  width: 90%;
  margin: 0 auto;
}

header .headerWrap > .serchBox .realSearch > ul > li {
  border-bottom: solid 1px #dce3e4;
  padding: 15px 0;
}

header .headerWrap > .serchBox .realSearch > ul > li div {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

header .headerWrap > .serchBox .realSearch > ul > li dl {
  width: 470px;
  display: inline-block;
  vertical-align: top;
}

header .headerWrap > .serchBox .realSearch > ul > li dl dt {
  font-size: 1.5rem;
}

header .headerWrap > .serchBox .realSearch > ul > li dl dt span {
  display: inline-block;
  vertical-align: middle;
  color: #808080;
}

header .headerWrap > .serchBox .realSearch > ul > li dl dd {
  color: #849096;
  font-size: 1.3rem;
}

header .headerWrap > nav.gnb {
  float: right;
  margin: 20px 0;
}

header .headerWrap > nav.gnb > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 1.4rem;
}

header .headerWrap > nav.gnb > ul > li img {
  vertical-align: middle;
}

header .headerWrap > nav.gnb > ul > li .profileImg {
  margin-right: 10px;
}

header .headerWrap > nav.gnb > ul > li:last-child {
  margin-right: 0px;
  position: relative;
}

header .headerWrap > nav.gnb > ul > li:last-child span {
  position: relative;
  display: inline-block;
}

header .headerWrap > nav.gnb > ul > li:last-child span .profileDot {
  position: absolute;
  right: 10px;
  bottom: 0;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  width: 100px;
  top: 120%;
  right: -15px;
  box-shadow: 0 -2px 6px 0px #ddd;
  display: none;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu img {
  position: absolute;
  top: -8px;
  right: 15px;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu > ul > li {
  display: block !important;
  padding: 5px 0;
  text-align: center;
  z-index: 99;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu > ul.dropsubMenu {
  border-top: solid 1px #e1e1e1;
}

header .headerWrap > nav.gnb > ul > li.mobileMenu {
  display: none;
}

/*******************************************************************
	* 반응형 
*******************************************************************/
@media screen and (min-width: 1025px) and (max-width: 1201px) {
  .contents .contentsWrap > .rightBox {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    min-width: auto;
  }
  header .headerWrap {
    width: 94%;
    max-width: 1024px;
    min-width: 90%;
    margin: 0 auto;
  }
  header .headerWrap nav.gnb ul > li {
    display: none;
  }
  header .headerWrap nav.gnb ul > li.mobileMenu {
    display: inline-block;
    margin-right: 20px;
  }
  header .headerWrap nav.gnb ul > li:last-child {
    display: inline-block;
  }
}

/*******************************************************************
	* 슬라이드 페이져버튼 
*******************************************************************/
/* Dots */
.slick-dots {
  position: absolute;
  top: 15px;
  right: 25px;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: #ece2e3;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li.slick-active button {
  width: 20px;
  background: #fff;
  border-radius: 15px;
}

.slick-dots li button:hover {
  width: 20px;
  background: #fff;
  border-radius: 15px;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 920px;
  margin: 0 auto;
  border-radius: 15px;
  top: 30px;
}

.white-popup > h2 {
  text-align: center;
  font-size: 2.4rem;
  padding-top: 20px;
}

.white-popup > p {
  text-align: center;
  font-size: 1.4rem;
  color: #808080;
  margin-bottom: 30px;
}

.white-popup > ul {
  width: 720px;
  margin: 0 auto;
}

.white-popup > ul > li {
  float: left;
  width: 350px;
  margin: 3px 5px;
  position: relative;
}

.white-popup > ul > li > div {
  position: absolute;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/*# sourceMappingURL=common.css.map */