@charset "UTF-8";
/*******************************************************************
	* 글꼴
*******************************************************************/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 20;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
  background: #e4e6ed;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.clearfix {
  zoom: 1;
}

/*******************************************************************
	* 컬러 
*******************************************************************/
a {
  text-decoration: none;
  color: #111;
}

img {
  display: inline-block;
}

caption {
  font-size: 0;
  position: absolute;
  left: -9999px;
  width: 0px;
  height: 0px;
  line-height: 0px;
}

/* 기본스타일 */
.displayB {
  display: block;
}

.displayI {
  display: inline;
}

.displayIB {
  display: inline-block;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

header {
  width: 100%;
  height: 80px;
  min-width: 1024px;
  margin: 0 auto;
  background: #ffffff;
}

header .headerWrap {
  width: 96%;
  max-width: 1840px;
  min-width: 1050px;
  margin: 0 auto;
}

header .headerWrap > h1.logo {
  float: left;
  margin: 25px 20px 20px 0;
}

header .headerWrap > .serchBox {
  float: left;
  width: 30%;
  height: 30px;
  border-left: solid 1px #e6e6e6;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}

header .headerWrap > .serchBox input {
  border: none;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 1.4rem;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

header .headerWrap > .serchBox input::placeholder {
  color: #d6d6d6;
}

header .headerWrap > .serchBox input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d6d6d6;
}

header .headerWrap > .serchBox input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d6d6d6;
}

header .headerWrap > .serchBox .realSearch {
  background: #fff;
  border-radius: 30px;
  width: 600px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  z-index: 9;
  display: none;
}

header .headerWrap > .serchBox .realSearch > p {
  font-size: 1.2rem;
  color: #737f86;
  border-bottom: solid 1px #dce3e4;
  padding: 10px 20px;
}

header .headerWrap > .serchBox .realSearch > p span {
  color: #b9c3c5;
}

header .headerWrap > .serchBox .realSearch > ul {
  width: 90%;
  margin: 0 auto;
}

header .headerWrap > .serchBox .realSearch > ul > li {
  border-bottom: solid 1px #dce3e4;
  padding: 15px 0;
}

header .headerWrap > .serchBox .realSearch > ul > li div {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

header .headerWrap > .serchBox .realSearch > ul > li dl {
  width: 470px;
  display: inline-block;
  vertical-align: top;
}

header .headerWrap > .serchBox .realSearch > ul > li dl dt {
  font-size: 1.5rem;
}

header .headerWrap > .serchBox .realSearch > ul > li dl dt span {
  display: inline-block;
  vertical-align: middle;
  color: #808080;
}

header .headerWrap > .serchBox .realSearch > ul > li dl dd {
  color: #849096;
  font-size: 1.3rem;
}

header .headerWrap > nav.gnb {
  float: right;
  margin: 20px 0;
}

header .headerWrap > nav.gnb > ul > li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 1.4rem;
}

header .headerWrap > nav.gnb > ul > li img {
  vertical-align: middle;
}

header .headerWrap > nav.gnb > ul > li .profileImg {
  margin-right: 10px;
}

header .headerWrap > nav.gnb > ul > li:last-child {
  margin-right: 0px;
  position: relative;
}

header .headerWrap > nav.gnb > ul > li:last-child span {
  position: relative;
  display: inline-block;
}

header .headerWrap > nav.gnb > ul > li:last-child span .profileDot {
  position: absolute;
  right: 10px;
  bottom: 0;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  width: 100px;
  top: 120%;
  right: -15px;
  box-shadow: 0 -2px 6px 0px #ddd;
  display: none;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu img {
  position: absolute;
  top: -8px;
  right: 15px;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu > ul > li {
  display: block !important;
  padding: 5px 0;
  text-align: center;
  z-index: 99;
}

header .headerWrap > nav.gnb > ul > li:last-child .dropMenu > ul.dropsubMenu {
  border-top: solid 1px #e1e1e1;
}

header .headerWrap > nav.gnb > ul > li.mobileMenu {
  display: none;
}

/*******************************************************************
	* 반응형 
*******************************************************************/
@media screen and (min-width: 1025px) and (max-width: 1201px) {
  .contents .contentsWrap > .rightBox {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    min-width: auto;
  }
  header .headerWrap {
    width: 94%;
    max-width: 1024px;
    min-width: 90%;
    margin: 0 auto;
  }
  header .headerWrap nav.gnb ul > li {
    display: none;
  }
  header .headerWrap nav.gnb ul > li.mobileMenu {
    display: inline-block;
    margin-right: 20px;
  }
  header .headerWrap nav.gnb ul > li:last-child {
    display: inline-block;
  }
}

/*******************************************************************
	* 슬라이드 페이져버튼 
*******************************************************************/
/* Dots */
.slick-dots {
  position: absolute;
  top: 15px;
  right: 25px;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: #ece2e3;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li.slick-active button {
  width: 20px;
  background: #fff;
  border-radius: 15px;
}

.slick-dots li button:hover {
  width: 20px;
  background: #fff;
  border-radius: 15px;
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 920px;
  margin: 0 auto;
  border-radius: 15px;
  top: 30px;
}

.white-popup > h2 {
  text-align: center;
  font-size: 2.4rem;
  padding-top: 20px;
}

.white-popup > p {
  text-align: center;
  font-size: 1.4rem;
  color: #808080;
  margin-bottom: 30px;
}

.white-popup > ul {
  width: 720px;
  margin: 0 auto;
}

.white-popup > ul > li {
  float: left;
  width: 350px;
  margin: 3px 5px;
  position: relative;
}

.white-popup > ul > li > div {
  position: absolute;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

html {
  background: #fff;
}

.contents {
  width: 100%;
  background: url("../images/header_gradation.png") repeat-x;
}

.contents .listWrap {
  width: 760px;
  margin: 0 auto;
}

.contents .listWrap > .searchBox {
  padding: 100px 0 30px;
}

.contents .listWrap > .searchBox > p {
  float: left;
  font-size: 1.6rem;
}

.contents .listWrap > .searchBox > .listSelector {
  float: right;
  border-bottom: solid 1px #e0e0e0;
  padding-bottom: 10px;
}

.contents .listWrap > .searchBox > .listSelector > ul {
  display: inline-block;
  vertical-align: middle;
}

.contents .listWrap > .searchBox > .listSelector > ul li {
  cursor: pointer;
  font-size: 1.4rem;
  color: #2fc141;
  margin-right: 10px;
}

.contents .listWrap > .serchList > li {
  background: #fff;
  border-radius: 15px;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 1px 2px 7px 2px #ededed;
}

.contents .listWrap > .serchList > li > div.listImgBox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.contents .listWrap > .serchList > li > div.listImgBox img {
  vertical-align: top;
}

.contents .listWrap > .serchList > li > dl {
  display: inline-block;
  vertical-align: middle;
}

.contents .listWrap > .serchList > li > dl dt {
  font-weight: bold;
  font-size: 1.4rem;
}

.contents .listWrap > .serchList > li > dl dd {
  font-size: 1.2rem;
  color: #808080;
}

.contents .listWrap > .serchList > li > .listGrade {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 20px;
}

.contents .listWrap > .serchList > li > .listGrade > div {
  float: left;
  padding: 0 20px;
  border-left: solid 1px #e6e6e6;
  height: 35px;
  line-height: 18px;
}

.contents .listWrap > .serchList > li > .listGrade > div > ul {
  margin-left: 10px;
}

.contents .listWrap > .serchList > li > .listGrade > div > ul > li {
  margin-left: -10px;
  float: left;
}

.contents .listWrap > .serchList > li > .listGrade > div.pointBox > p {
  font-size: 2rem;
  color: #111;
  text-align: center;
  font-weight: bold;
}

.contents .listWrap > .serchList > li > .listGrade > div.pointBox > span {
  font-size: 1.2rem;
  color: #808080;
}

.contents .listWrap > .mbSerchList {
  display: none;
}

.contents .listWrap .pager {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.contents .listWrap .pager.mobile {
  display: none;
}

.contents .listWrap .pager > ul > li {
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
}

.contents .listWrap .pager > ul > li span {
  display: block;
  width: 18px;
  height: 7px;
  background: #666666;
  border-radius: 3px;
  margin-top: 15px;
}

.contents .listWrap .pager > ul > li.on span {
  border: solid 7px #666666;
  background: #fff;
}

.contents .listWrap .pager > ul > li.prevBtn {
  vertical-align: bottom;
  margin-right: 10px;
}

.contents .listWrap .pager > ul > li.nextBtn {
  vertical-align: bottom;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .contents .listWrap {
    width: 90%;
    margin: 0 auto;
  }
  .contents .listWrap > .searchBox {
    padding: 20% 0 0;
  }
  .contents .listWrap > .searchBox p {
    display: none;
  }
  .contents .listWrap > .serchList {
    display: none;
  }
  .contents .listWrap > .mbSerchList {
    display: block;
  }
  .contents .listWrap > .mbSerchList > li {
    position: relative;
    box-shadow: 0px 0px 20px 3px #ddd;
    margin: 10% 0 25%;
  }
  .contents .listWrap > .mbSerchList > li > .imgBox {
    width: 100%;
  }
  .contents .listWrap > .mbSerchList > li > .imgBox img {
    width: 100%;
    vertical-align: top;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox {
    width: 80%;
    left: 50%;
    margin-left: -46%;
    bottom: -20%;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    padding: 3% 6%;
    box-shadow: 0px 1px 7px 1px #ddd;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div {
    font-size: 2rem;
    margin-top: 5%;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div:first-child {
    border-bottom: solid 1px #ddd;
    padding-bottom: 5%;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .filedInfo {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .filedInfo dt {
    font-weight: 900;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .filedInfo dd {
    color: #808080;
    font-size: 1.8rem;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .pointBox {
    float: right;
    background: #68c53e;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    line-height: 1;
    padding: 3%;
    border-radius: 10%;
    vertical-align: middle;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .memList {
    width: 35%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .memList li {
    float: left;
    width: 40%;
    margin-left: -10%;
    overflow: hidden;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .memList li > img {
    width: 100%;
  }
  .contents .listWrap > .mbSerchList > li > .infoBox > div .mbmText {
    width: 62%;
    display: inline-block;
    color: #808080;
    vertical-align: middle;
  }
  .contents .listWrap .pager {
    margin: 20% 0;
    display: none;
  }
  .contents .listWrap .pager.mobile {
    display: block;
  }
  .contents .listWrap .pager.mobile > ul > li {
    margin-left: 5%;
  }
  .contents .listWrap .pager.mobile > ul > li.prevBtn {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 35%;
  }
  header .headerWrap > .serchBox input {
    margin-left: 5%;
  }
}
/*# sourceMappingURL=list.css.map */