

/* 해더 */
#header {position:fixed; top:0; left:0; right:0; background:transparent; z-index:10; transition:all 0.5s;}
#header.active {background:#29293a; z-index:100;}
#header .inner {position:relative; width:1240px; height:77px; margin:0 auto;}
#header .logo {position:absolute; top:50%; left:0; transform:translateY(-50%);}
#header .logo a {display:block; background:url("../images/logo.png") 0 0 no-repeat; width:130px; height:40px; font:0/0 a;}

#header .gnb {position:absolute; top:50%; right:160px; transform:translateY(-50%);}
#header .gnb li {float:left; margin-left:56px; border-bottom:solid 1px transparent;}
#header .gnb li a {color:#fff; font-family:"Roboto", sans-serif; font-size:20px;}
#header .gnb li:hover {border-bottom:solid 1px #fff;}
#header .lang {position:absolute; top:50%; right:10px; transform:translateY(-50%);}
#header .lang a {margin-left:20px; color:#94949d; font-size:18px;}
#header .lang a.active {color:#fff;}

#wrap {overflow:hidden; min-width:1340px;}


.mainvisual {position:relative; background:url("../images/main_visual.jpg") 0 0 no-repeat; background-size:cover; height:783px;}
.mainvisual .inner {width:1240px; height:100%; margin:0 auto;}
.mainvisual h2 {position:absolute; top:50%; left:50%; width:100%; color:#fff; line-height:1.4; letter-spacing:-2px; text-align:center; font-size:42px; transform:translate(-50%,-50%);}
#container .inner {width:1155px; margin:0 auto;}
#container  h3 {padding:80px 0 45px; letter-spacing:-0.5px; text-align:center; font-size:38px;}

#container  p {padding:0 50px; color:#555; line-height:2; font-size:16px; word-break:keep-all;}

#container div.about {padding-bottom:73px;}

#container div.vision {background:#f5f5f5; height:539px;}
#container div.vision h3 {padding-top:60px;}
#container div.vision ul {width:1153px; margin:0 auto; text-align:center;}
#container div.vision ul li {float:left; width:350px; word-break:keep-all;}
#container div.vision ul li:nth-child(2) {width:360px; margin:0 50px 0 45px;}
#container div.vision ul li:last-child {width:340px;}
#container div.vision ul li div {min-height:147px;}
#container div.vision ul li p {margin:30px 0 25px; color:#262626; line-height:1; font-size:22px; font-weight:600;}
#container div.vision ul li span {color:#545454; line-height:1.8; font-size:16px;}

#container div.partners {background:url("../images/bg_partner.jpg") 0 0 no-repeat; background-size:cover; min-height:467px; padding:80px 0;}
#container div.partners h3 {padding-top:0; padding-bottom:25px; color:#fff;}
#container div.partners p {color:#fff; letter-spacing:0; text-align:center; font-size:18px;}
#container div.partners ul {margin:40px auto 0;}
#container div.partners ul li {display:inline-block; margin-bottom:20px; margin-left:25px; ;}
#container div.partners ul li:first-child {margin-left:0;}
#container div.partners ul li:nth-child(5n+1) {margin-left:0;}

#container div.notice {background:#ececec; padding-bottom:90px;}
#container div.notice .inner { margin:0 auto;}
#container div.notice .inner > div {float:left; position:relative; height:298px;}
#container div.notice .news {overflow:hidden; width:527px;}
#container div.notice .news .swiper-slide > div {background:url("../images/bg_slide.jpg") 0 0 no-repeat; height:100%;}
#container div.notice .swiper-slide .contents {position:relative; height:100%; padding:30px 40px 24px; box-sizing:border-box;}
#container div.notice .swiper-slide .contents .category {color:#1e90ff; font-size:16px;}
#container div.notice .swiper-slide .contents .date {position:absolute; left:40px; bottom:30px; color:#fff; font-size:12px;}
#container div.notice .swiper-slide .contents h4 {padding:25px 0 20px; color:#fff; font-size:20px;}
#container div.notice .swiper-slide .contents p {padding:0; color:#fff; line-height:1.4; font-size:15px; word-break:keep-all;}
#container div.notice .swiper-slide .contents a {position:absolute; right:40px; bottom:30px; color:#fff; font-size:14px;}
#container div.notice .swiper-slide .contents a:after {content:""; display:inline-block; background:url(../images/moreArrow.png) 0 0 no-repeat; width:5px; height:9px; margin-left:5px; vertical-align:middle;}
#container div.notice .board {overflow:hidden; background:#fff; width:296px; margin-left:15px;}

#container div.notice .news .swiper-button-prev {top:30px; left:inherit; right:78px; background:url("../images/news_arorw.png") 0 0 no-repeat; width:27px; height:26px; margin:0;}
#container div.notice .news .swiper-button-next {top:30px; right:40px; background:url("../images/news_arorw.png") -33px 0 no-repeat; width:27px; height:26px; margin:0;}

#container div.notice .board .swiper-slide > div {height:100%;}
#container div.notice .board .swiper-slide .contents .category {color:#1e90ff; font-size:16px;}
#container div.notice .board .swiper-slide .contents .date {position:absolute; left:40px; bottom:30px; color:#a6a6a6; font-size:12px;}
#container div.notice .board .swiper-slide .contents h4 {padding:30px 0 30px; color:#262626; font-size:20px; font-weight:900;}
#container div.notice .board .swiper-slide .contents p {padding:0; color:#262626; line-height:1.4; font-size:15px; word-break:keep-all;}
#container div.notice .board .swiper-slide .contents a {position:absolute; right:40px; bottom:30px; color:#777; font-size:14px;}
#container div.notice .board .swiper-slide .contents a:after {content:""; display:inline-block; background:url(../images/moreArrow2.png) 0 0 no-repeat; width:5px; height:9px; margin-left:5px; vertical-align:middle;}

#container div.notice .board .swiper-button-prev {top:30px; left:inherit; right:78px; background:url("../images/board_arrow.png") 0 0 no-repeat; width:27px; height:26px; margin:0;}
#container div.notice .board .swiper-button-next {top:30px; right:40px; background:url("../images/board_arrow.png") -33px 0 no-repeat; width:27px; height:26px; margin:0;}

#container div.contact {padding-bottom:50px;}
#container div.contact .inner {margin:0 auto;}
#container div.contact h4 {margin-bottom:20px; font-size:20px;}
#container div.contact p {padding:0; font-size:16px;}
#container div.contact ul li {float:left; width:330px; color:#545454; letter-spacing:-0.5px; font-size:23px; word-break:keep-all;}
#container div.contact ul li:nth-child(2) {margin:0 45px 0 80px;}
#container div.contact ul li:last-child {width:368px;}
#container div.contact ul li dl {margin-bottom:35px;}
#container div.contact ul li dl dt {display:inline-block; width:30px; text-align:center; vertical-align:middle;;}
#container div.contact ul li dl dd {display:inline-block; font-size:16px;}

#container div.contact ul li form {text-align:right;}
#container div.contact ul li input {background:#ececec; width:100%; height:50px; margin-bottom:10px; border:0; box-sizing:border-box; color:#545454; text-indent:20px; font-size:16px;}
#container div.contact ul li textarea {background:#ececec; width:100%; height:200px; padding:20px; border:0; box-sizing:border-box; color:#545454; font-family:"Noto Sans KR", sans-serif; font-size:16px; resize:none;}
#container div.contact ul li button {background:#1e90ff; width:106px; height:37px; margin-top:8px; color:#fff; text-align:center; font-size:16px;}


#footer {background:#29293a;}
#footer .inner {position:relative; width:1152px; height:93px; margin:0 auto;}
#footer .logo {position:absolute; top:50%; left:0; transform:translateY(-50%);}
#footer .logo a {display:block; background:url("../images/logo.png") 0 0 no-repeat; width:130px; height:40px;}
#footer p {color:#ccc; line-height:93px; text-align:right; font-size:14px; font-weight:normal;}


.gm-ui-hover-effect {top:50% !important; transform:translateY(-50%);}

.layerPop{
	display:none;
	width:500px;
	max-height:600px;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.layerPop.active {display:block;}
.layerPop h2 {height:62px;line-height: 62px; color:#00c0ff; font-size:20px; position: relative; background:#29293a; border-radius: 15px 15px 0 0 ; padding-left:30px;}
.layerPop h2 span {font:0/0 a; position: absolute; width:21px; height:21px; background: url('../images/btn_close.png') 0 0 no-repeat; top:50%; right:25px; transform: translateY(-50%); cursor: pointer;}
.layerPop .inner { background: #fff; padding:18px; max-height:500px; }
.layerPop .inner img {width:100%; height:300px;}
.layerPop .inner p {font-size:16px; line-height: 1.6; letter-spacing: -.5px; margin-top:10px; padding-bottom:20px;}



