#wrap {
	background: #000;
	max-width:960px; margin:0 auto;
	overflow: hidden;
}

#header {width:100%; min-width:320px; margin:0 auto; height:56px; background: #29293a; position: relative;}
#header h1 {width:104px; position: absolute; left:50%; top:50%; transform:translate(-50%,-50%); }
#header h1 a {font:0/0 a; display:block;}

#header .menu {
	width:23px; height:18px; background: url('../images/mobile/menu.png') 0 0 no-repeat; background-size:23px 18px; 
	position: absolute;
	top:50%; transform: translateY(-50%);
	left:17px;
}

#nav {display:none; position:absolute; top:56px; background:#29293a; width:100%; z-index:100; text-indent:20px;}
#nav ul li {height:45px; border-bottom:1px solid #6a6a75; color:#fff; line-height:45px; font-size:18px;}
#nav .lang {height:50px; line-height:50px; text-align:right; padding-right:20px;}
#nav .lang a {margin-left:10px; color:rgba(255,255,255,0.5); font-size:14px;}
#nav .lang a.active {color:#fff;}


#container .mainvisual{
	background: url('../images/mobile/main_visual.jpg') 0 0 no-repeat;
	height:239px;
	width:100%; min-width:320px; margin:0 auto;
	background-size:cover;
	position: relative;
}
#container .mainvisual h2 {position:absolute; top:50%; left:50%; width:100%; color:#fff; text-align:center; font-size:18px; transform:translate(-50%,-50%);}

#container .inner {padding:0 15px 20px; }
#container .inner h3 {font-size:18px; text-align: center; padding:30px 0 15px;}

#container .about {background: #fff; padding-bottom:23px;}
#container .about p {font-size:11px; color:#555555; line-height:1.4;}

#container .vision {background:#f5f5f5; padding-bottom:30px;}
#container .vision ul li {display:flex; padding:15px 0;}
#container .vision ul li div {flex:0 0 60%;}
#container .vision ul li div.imgBox {flex:0 0 40%;}
#container .vision ul li div.imgBox img {display:block; width:70px; margin:0 auto;}
#container .vision ul li div h4 {margin-bottom:5px; font-size:13px;}
#container .vision ul li div p {font-size:11px;}

#container .partners {min-height: 155px; background: url('../images/mobile/bg_partner.jpg') 0 0 no-repeat; background-size:cover;}   
#container .partners h3 {color:#fff;}
#container .partners p { color:#fff; font-size:10px; text-align: center;}
#container .partners ul {display:flex; width:289px; justify-content:space-between; margin:15px auto 0;}
#container .partners ul li img {width:70px;}

#container .notice {background: #f5f5f5;}
#container div.notice .news {overflow:hidden; position:relative; width:100%; height:133px;}
#container div.notice .news .swiper-slide > div {background:url("../images/mobile/bg_slide.jpg") 0 0 no-repeat; background-size:cover; height:100%;}

#container div.notice .swiper-slide .contents {position:relative; height:100%; padding:10px; box-sizing:border-box; padding-bottom:30px;}
#container div.notice .swiper-slide .contents .category {color:#1e90ff; font-size:10px;}
#container div.notice .swiper-slide .contents .date {position:absolute; left:10px; bottom:10px; color:#fff; font-size:10px;}
#container div.notice .swiper-slide .contents h4 {padding:10px 0; color:#fff; font-size:14px;}
#container div.notice .swiper-slide .contents p {padding:0; color:#fff; line-height:1.4; font-size:10px; word-break:keep-all;}
#container div.notice .swiper-slide .contents a {position:absolute; right:10px; bottom:10px; color:#fff; font-size:10px;}
#container div.notice .swiper-slide .contents a:after {content:""; display:inline-block; background:url(../images/moreArrow.png) 0 0 no-repeat; width:5px; height:9px; margin-left:5px; vertical-align:middle;}

#container div.notice .news .swiper-button-prev {top:10px; left:inherit; right:38px; background:url(../images/mobile/btn_prev.jpg) 0 0 no-repeat; background-size:15px 15px; width:15px; height:15px; margin:0;}
#container div.notice .news .swiper-button-next {top:10px; right:27px; background:url(../images/mobile/btn_next.jpg) 0 0 no-repeat; background-size:15px 15px; width:15px; height:15px; margin:0;}

#container div.notice .boardSlide {display:flex; justify-content: space-between; margin-top:10px;}

#container div.notice .board {overflow:hidden; position:relative; background:#fff; flex:0 0 49%;}

#container div.notice .board .swiper-slide > div {flex:0 0 49%; height:100%;}
#container div.notice .board .swiper-slide .contents .category {color:#1e90ff; font-size:10px;}
#container div.notice .board .swiper-slide .contents .date {position:absolute; left:10px; bottom:10px; color:#a6a6a6; font-size:10px;}
#container div.notice .board .swiper-slide .contents h4 {padding:5px 0; color:#262626; font-size:14px;}
#container div.notice .board .swiper-slide .contents p {padding:0; color:#262626; line-height:1.4; font-size:10px; word-break:keep-all;}
#container div.notice .board .swiper-slide .contents a {position:absolute; right:10px; bottom:10px; color:#777; font-size:10px;}
#container div.notice .board .swiper-slide .contents a:after {content:""; display:inline-block; background:url(../images/moreArrow2.png) 0 0 no-repeat; width:5px; height:9px; margin-left:5px; vertical-align:middle;}

#container div.notice .board .swiper-button-prev {top:10px; left:inherit; right:27px; background:url(../images/mobile/btn_prev.jpg) 0 0 no-repeat; background-size:15px 15px; width:15px; height:15px; margin:0;}
#container div.notice .board .swiper-button-next {top:10px; right:10px; background:url(../images/mobile/btn_next.jpg) 0 0 no-repeat; background-size:15px 15px; width:15px; height:15px; margin:0;}

#container div.contact{background: #fff;}
#container div.contact ul li {margin-bottom:20px;}
#container div.contact ul li h4 {font-size:13px; margin-bottom:5px;}
#container div.contact p {font-size:11px;}
#container div.contact dl {display:flex; margin-top: 5px;}
#container div.contact dl dt {flex:0 0 25px; text-align: center;}
#container div.contact dl dt img {width:15px;}

#container div.contact ul li form {text-align:right;}
#container div.contact ul li input {background:#ececec; width:100%; height:30px; margin-bottom:10px; border:0; box-sizing:border-box; color:#545454; text-indent:10px; font-size:11px;}
#container div.contact ul li textarea {background:#ececec; width:100%; height:100px; padding:10px; border:0; box-sizing:border-box; color:#545454; font-family:"Noto Sans KR", sans-serif; font-size:11px; resize:none;}
#container div.contact ul li button {background:#1e90ff; width:70px; height:23px; margin-top:8px; color:#fff; text-align:center; font-size:11px;}

#footer {background:#29293a;}
#footer .inner {position:relative; width:100%; height:60px; margin:0 auto;}
#footer .logo {position:absolute; top:50%; left:0; transform:translateY(-50%);}
#footer .logo a {display:block; width:104px; height:40px; font:0/0 a;}
#footer p {color:#ccc; line-height:60px; text-align:right; font-size:11px; font-weight:normal;}