@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,address,em,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,footer,header,hgroup,menu,header,section,summary,video {margin:0; padding:0; border:0; font-size:100%; vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,section {display:block;}
body {font-family: 'Noto Sans KR', sans-serif; font-size:12px; line-height:1.2;}
ol,ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a {font-weight:normal; text-decoration:none; color:#000;}
a:active,a:visited,a:hover {text-decoration:none; outline:none;}
button {background:none; border:0 none; color:inherit; font-size:inherit; cursor:pointer; outline:none;}
img {max-width:100%;}
.blind {display:block; overflow:hidden; position:absolute; top:-9999em; left:-9999em; width:0.1rem; height:0.1rem;}
fieldset {border:0 none !important;}
em {font-style:normal;}
input[type='number']::-webkit-outer-spin-button,input[type='number']::-webkit-inner-spin-button {-webkit-appearance:none;}
.clearfix {zoom:1;}
.clearfix::after {content:""; display:block; clear: both;}
