@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Montserrat', sans-serif;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font:inherit; font-size:100%; vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
html {line-height:1.15; -webkit-text-size-adjust:100%;}
body,html {width:100%; height:100%;}
ol,ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a,a:link,a:focus,a:hover,a:active {background:transparent; text-decoration:none;}
address,em {font-stretch:normal;}
fieldset,img {max-width:100%; border:0;}
button,input,optgroup,select,textarea {margin:0; padding:0; line-height:1.15; font-family:inherit; font-size:100%;}
button,[type="button"],[type=reset],[type=submit] {-webkit-appearance:button;}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {padding:0; border-style:none;}
.blind {display:block; overflow:hidden; position:absolute; top:0; left:0; background:0 0; width:0; height:0; border:0; line-height:0; font-size:0;}
#fp-nav ul li:nth-child(4) {position: absolute; left:-999999em;}
$vw-viewport: 1680;
@function vw($font){
	$vw-context: $vw-viewport * 0.01 * 1px;
	@return $font / $vw-context * 1vw;
	@return $font;
}
#virtual_dom{font-size:vw(94px); display: inline-block;}
html,body {
	font-family: 'Noto Sans KR', sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,body::-webkit-scrollbar {
    display: none;
}
.wrap{overflow:hidden; position:relative; height:100vh;}
.move-arrow{
	background: url(../images/move-arrow.png) 0 0 no-repeat;
	width:40px; height:40px;
	background-size:100% 100%;
	position: absolute;
	bottom:40px;
	left:50%;
	transform: translateX(-50%);
	-webkit-animation: moving 1.5s alternate infinite ;
	        animation: moving 1.5s alternate infinite ;
}
@-webkit-keyframes moving{
	0%{bottom:40px;}
	25%{bottom:20px;}
	50%{bottom:40px;}
	100%{bottom:20px;}
}
@keyframes moving{
	0%{bottom:40px;}
	25%{bottom:20px;}
	50%{bottom:40px;}
	100%{bottom:20px;}
}
#blinker{
    -webkit-animation: blink 1s step-end infinite;
	animation: blink 1s step-end infinite;
	border:solid 3px #00b564; display:inline-block; position:relative; vertical-align:top; margin:0 vw(12px); transform:translateY(30%); display:inline-block;
	border-radius: 6px;
	height:vw(86px);
	width:0;
}
@keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

#fp-nav.left {left:vw(150px)}

.full-page-wrap {
	height:100vh; position:relative;
	.fp-tableCell{
		display:flex; justify-content:center; align-items:center;
		.page-contents{width:100%; max-width:vw(1680px); padding:0 vw(320px); box-sizing:border-box; position: relative;
			&.wide{padding:0 0 150px 0;}
		}
	}

	.page-contents {
		.title {color:#00b564;line-height:1.19;font-family:"Montserrat", sans-serif;font-size:16px;font-weight:600;}

		.search-box{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); white-space:nowrap;
			.search-wrap{
				margin-top:30px;font-weight:bold;font-size:vw(94px);line-height:1.45;letter-spacing:-4.7px;
				.typer {
					width:0px;
					padding:0 10px; border:0; box-sizing:border-box; color:#999; font-size:vw(94px); font-weight:bold; outline:none;
					&::-webkit-input-placeholder{color:#d4d4d4;}
					&::-moz-placeholder{color:#d4d4d4;}
					&:-ms-input-placeholder{color:#d4d4d4;}
					&::-ms-input-placeholder{color:#d4d4d4;}
					&::placeholder{color:#d4d4d4;}
				}
				p span {vertical-align:top;}
				.btn-link {display:none;position:relative;border-bottom:solid 8px #000;color:#000;
					&:after {
						content: "";
						position: absolute;
						top:vw(25px);
						background: url(../images/link.png) 50% 50% no-repeat;
						width:vw(64px);
						height:vw(64px);
						background-size: cover;
					}
				}
			}
		}

		.title-wrap{
			font-size:vw(54px); font-weight:bold; display:flex; justify-content:center; line-height:1.46; letter-spacing:-2.7px;
			.select-text{position: relative; margin-right:8px;
				span{vertical-align: top;}
				&.active{overflow: hidden;
					span {
						display: block;
						color:#00b564; border-bottom:solid 4px #00b564;
						transform: translateX(-100%);
						-webkit-animation: selected 2s forwards;
						        animation: selected 2s forwards;
					}
				}
			}
			@-webkit-keyframes selected {
				0%{transform: translateX(0); opacity: 1;}
				33%{transform: translateX(-100%); opacity: 0;}
				34%{transform: translateX(100%); opacity: 0;}
				100%{transform: translateX(0);opacity: 1; }
			}

			@keyframes selected {
				0%{transform: translateX(0); opacity: 1;}
				33%{transform: translateX(-100%); opacity: 0;}
				34%{transform: translateX(100%); opacity: 0;}
				100%{transform: translateX(0);opacity: 1; }
			}
		}
		.filter-box{
			position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;max-width:vw(1380px);box-sizing:border-box;padding:0 vw(150px);
		}
		.filter-wrap{
			margin-top:vw(50px);
			.depth-slide{
				max-width:vw(1680px);overflow:hidden;
				.swiper-slide {width:100% !important;}
				.swiper-slide-active{
					width:100% !important;
					-webkit-animation:opacity 3s forwards;
						animation:opacity 3s forwards;
				}
				@-webkit-keyframes opacity {
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				@keyframes opacity {
					0% {opacity: 0;}
					100% {opacity: 1;}
				}
				.filter-item-box{
					display:flex;justify-content:center;flex-wrap:wrap;
					.btn-prev{
						box-sizing:border-box;
						width:vw(70px);height:vw(60px);
						border-radius:50px;
						background:#00b564 url(../images/depth-arrow.png) 50% 50% no-repeat;background-size:12px 17px;border:solid 1px #00b564;font:0/0 a;outline:none;
					}

					.filter-item{
						padding:0 vw(30px); font-size:vw(30px); color:#666666; margin-right:vw(8px);
						cursor: pointer;
						font-weight: normal;
						border-radius: 50px;
						border: solid 1.5px #aaa;
						height:vw(60px); line-height:vw(54px);
						box-sizing: border-box;
						margin-bottom:vw(12px);
						position: relative;
						letter-spacing: -1.5px;
						span{
							font-family: Montserrat;
							font-size: 24px;
							letter-spacing: -0.72px;
							text-align: center;
							color: #ffffff;
							position: absolute;
							top:-14px; right:-9px;
							width: 36px;
							height: 36px;
							line-height: 36px;
							opacity: 0.9;
							box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
							border: solid 1px #00b564;
							background: #00b564;
							border-radius: 50%;
						}
						&:last-child{margin-right:0;}
						&.active{border-color:#00b564; color:#00b564;}
					}

					.btn-search{
						background:#00b564;
						border:solid 1px #00b564;
						visibility:hidden;
						position:relative;
						left:50px;
						transition:all .2s;
						padding:0 vw(30px);
						border-radius:50px;
						line-height:vw(60px);
						height:vw(60px);
						box-sizing:border-box;
						cursor:pointer;
						button{border:0;
							background:transparent;width:100%;height:100%;display:flex;align-items:center;color:#fff;font-size:vw(30px);line-height:1.47;letter-spacing:-1.5px;
							outline: none;
							&:after{
								content: "";
								display: block;
								background: url(../images/search-arrow.png) 0 0 no-repeat;
								width:23px; height:22px;
								margin-left:11px;
							}
						}
	
						&.isvisible{
							visibility: visible;
							left:8px;
						}
					}
				}
			}
		}


		.writer-info {
			margin-top:vw(34px); display:flex; font-size:vw(16px); color:#333; font-weight:bold; letter-spacing:-.8px; color:#333;
			p{
				display: flex;
				align-items: center;
				em {
					font-family:"Montserrat", sans-serif; 
					color: #00b564;
					vertical-align: top;
					font-style: italic;
					margin-right: vw(6px);
					font-size: vw(16px);
					font-weight: 500;
					line-height: 1.19;
					letter-spacing: normal;
					color: #00b564;
					vertical-align: middle;
				}
			}
			
			.date{
				&::before{
					content: "";
					display: inline-block;
					height:vw(14px);
					width:1px;
					background:#999999;
					margin:0 vw(16px);
					vertical-align: middle;
				}
			}
		}
		
		// 매거진
		.magazine-box {
			display:flex;  align-items:center;
			justify-content: center;
			.magazine-info {
				flex:1; min-width:50%; max-width:vw(480px);
				h2 {  
					font-size:vw(46px); font-weight:bold; line-height:1.43; letter-spacing:-2.3px; color:#000;
				}
				dl {
					margin-top:vw(80px);
					dt{
						font-size:vw(20px);
						font-weight: bold;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.45;
						letter-spacing: -1px;
						text-align: left;
						color: #000000;
					}
					dd{
						margin-top:vw(12px);
						font-size:vw(20px);
						font-weight: normal;
						line-height: 1.6;
						letter-spacing: -1px;
						text-align: left;
						color: #000000;
					}
				}
			}

			.magazine-img {
				margin-left:vw(80px);
				.magazine-link {
					position: absolute;
					top:27px; right:27px;
					color:#fff;
					font-family:"Montserrat";
					font-size:vw(14px);
					border-bottom:solid 1px #fff;
					letter-spacing: -0.42px;
					font-weight: 500;
					letter-spacing: -0.42px;
					text-align: left;
					color: #ffffff;
					&:before{
						content: "";
						display: block;
						background: url(../images/arrow_w.png) 50% 50% no-repeat;
						background-size:100% 100%;
						margin-bottom:vw(7px);
						width:vw(28px); height:vw(28px);
						font:0/0 a; 
					}
				}
				img {height:100%;vertical-align:top;}
			}
		}

		.magazine-box-bottom{
			width: 100vw;
			h2 {
				display:flex; align-items:center; font-size:vw(46px); font-weight:bold; line-height:1.43; letter-spacing:-2.3px;
				span {margin-right:vw(8px);}
				&:after{
					content: "";
					display: block;
					background: url(../images/magasiz-arrow.png) 50% 50% no-repeat;
					background-size:100% 100%;
					width:vw(54px); height: vw(54px);
					margin-left:vw(20px);
				}
			}
			.swiper-container {margin-top:vw(50px);
				.swiper-slide {width:214px;}
				.thumb {
					img {width:100%}
				}
				.info {
					dl{
						dt {margin-top:12px;
							font-size:20px;
							font-weight: bold;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.4;
							letter-spacing: -1.2px;
							text-align: left;
							color: #000000;
						}
						dd {margin-top:4px;
							font-size: 16px;
							font-weight: normal;
							line-height: 1.5;
							letter-spacing: -0.8px;
							text-align: left;
							color: #666666;
						}
					}

					.writer-info{margin-top:14px;
						.writer{
							em {
								font-size: 14px;
								font-weight: 500;
								line-height: 1.29;
								letter-spacing: normal;
								color: #00b564;
							}
							font-size: 14px;
							font-weight: 500;
							line-height: 1.43;
							letter-spacing: -0.7px;
							text-align: left;
							color: #666666;
						}
					}
				}
			}
		}

		.fuleaf-intro {
			h2 {
				font-size: 94px;
				font-weight: bold;
				line-height: 1.45;
				letter-spacing: -4.7px;
				text-align: center;
				color: #000000;
			}
		}
	}


}


.over-page{
	position: relative;
	&.active{
		&:before{
			position: absolute;
			content: "";
			height:100vh;
			background: rgba(0, 0, 0, 0);
			width:100%;
			top:100%;
			width: 100%;
			top: -100vh;
		}
	}
	.scroll-page{
		position: relative;
		top:500px;
		z-index:999;
		&:before{
			content: "";
			position: absolute;
			top:-500px; left:0; right:0;
			height:500px;
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		}
		.contents-box{
			display:flex;
			justify-content:space-between;
			margin:0 auto;
			max-width:vw(1680px);
			box-sizing:border-box;
			padding:0 vw(150px);
		}
		.title {
			display:block;
			font-family:Montserrat; font-size:vw(72px); font-weight:bold; line-height:1.22; color:#000; margin-top:vw(50px);
			span{display:block; vertical-align:top;}
			&.kr{font-family:"Noto Sans KR", sans-serif;}
		}
		.sub-title {
			font-family: Montserrat;
			font-size: vw(22px);
			font-weight: bold;
			line-height: 1.23;
			&.kr{font-family:"Noto Sans KR", sans-serif;}
		}
		.sub-text{
			font-size:vw(20px);
			line-height: 1.7;
			letter-spacing: -1px;
			color: #000000;
			& + .sub-text {margin-top:vw(18px);}
		}

		// 비전
		.vision{padding:vw(161px) 0;background:#fff;
			display:flex; justify-content:space-between;
			.left-box {
				flex: 1;
				min-width: 27%;
				max-width: 370px;
			}
			.right-box {margin-left:vw(230px);flex:1 0 auto;
				.vision-slide{overflow:hidden; width:1440px;
					.swiper-wrapper {align-items:flex-end;}
				}
			}
			dl {margin-top:vw(72px);
				dt {font-weight:bold;}
				dd {margin-top:vw(18px);}
			}
		}

		// 믿음
		.believe{padding:vw(161px) 0 0; background:#f8f5ef;
			.left-box{flex:0 0 vw(330px);}
			.right-box {
				flex: 1;
				position: relative;
				max-width: vw(660px);
				margin-left: vw(80px);
				.title{font-weight: 900; margin-top:vw(50px);}
				.img-box {
					overflow:hidden;
					position: relative;
					top: vw(200px);
					max-width:vw(660px);
					max-height:vw(660px);
					background: url(../images/believe-1.png) 0 0 no-repeat;
					transition: all 1s;
					background-size: 100% auto;
					img{visibility:hidden;}

				}
			}
			.sub-text-box{margin-top:vw(100px);}
		}

		// 미션
		.mission{padding:vw(214px) 0 vw(214px); background: #fff;
			.left-box {max-width:vw(370px);flex:0 0 vw(370px);}
			.right-box {
				flex: 1;
				position: relative;
				max-width: vw(660px);
				margin-left: vw(40px);
				.img-wrap{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					flex: 1;
					.img-box{
						max-height:vw(326px);
						overflow: hidden;
						transition: all .5s;
						max-width: vw(300px);
						max-height: vw(300px);
						flex: 0 0 49%;
						background-size: cover;
						img{visibility:hidden;width:100%;}
						&.mission-img-1{background: url(../images/mission-1.png) 50% 50% no-repeat; background-size:100% auto;}
						&.mission-img-2{background: url(../images/mission-2.png) 50% 50% no-repeat; background-size:100% auto;}
						&.mission-img-3{
							background: url(../images/mission-3.png) 50% 50% no-repeat;background-size:100% auto;
							max-width: vw(660px);
							max-height: vw(660px);
							flex: 0 0 100%;
							margin-top: vw(60px);
							overflow: hidden;
							border-radius: 0 0 50% 50%;
						}
					}
				}
			}
			.sub-text-box{margin-top:vw(92px);}
		}

		.essence{padding:vw(200px) 0; box-sizing:border-box; background:#fafaf8;
			.contents-box{display: block;}
			.essence-list{
				display:flex;justify-content:space-between;margin-top:vw(200px);
				li {
					flex:0 0 30%;width:30%;border-top:solid 1px #707070;border-bottom:solid 1px #707070;
					> div {
						padding:vw(62px) 0 vw(72px);
					}
					h3 {
						font-size:vw(48px);font-weight:900;line-height:1.46;letter-spacing:-2.4px;
						span{font-family:Montserrat;font-size:vw(25px);font-weight:bold;line-height:1.2;color:#00b564;vertical-align:top;margin-left:vw(4px);}
					}
					dl {margin-top:vw(40px);
						dt {font-family:Montserrat;font-size:vw(22px);font-weight:bold;}
						dd {margin-top:vw(14px);line-height:1.6;letter-spacing:-1px;font-size:vw(20px);}
					}
				}
			}
		}

		// 로고액션
		.logo-action{
			background: #fafaf8;
			.action-box{
				position: relative;width: 100%;
				background: rgba(0, 0, 0, 0.2);
				&.active{
					.action-logo{
						-webkit-animation: logo 4s steps(60) forwards;
						animation: logo 4s steps(60) forwards;
					}
				}
				.action-bg{
					background:url(../images/bg-logo.png) 50% 50% no-repeat;max-width:1380px;width:100%;margin:0 auto;height:800px;
					transform: scale(1.2) translateY(110px);
					opacity: 0;
				}

				.action-logo{
					background: url(../images/css_sprites.png) 50% 0 no-repeat;
					overflow: hidden;
					width: 100%;
					height: 126px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 101;
					&.stop{
					-webkit-animation-play-state: paused;
							animation-play-state: paused;
					}
				}
				@-webkit-keyframes logo{
				100% { background-position:50% -37800px}
				}

				@keyframes logo{
				100% { background-position:50% -37800px}
				}
			}
		}

		.logo-info {
			padding:vw(90px) 0 vw(160px);
			background: #fafaf8;
			flex-wrap: wrap;
			.left-box{
				flex:0 0 vw(471px);
				.title{margin-top:0;
					font-size: vw(56px);
					font-weight: 900;
					line-height: 1.54;
					letter-spacing: -2.8px;
				}
			}
			.right-box{
				flex: 0 0 vw(690px);
			}
		}

		.make{padding:vw(90px) 0 vw(160px);
			background: #fff;
		
			 margin:0 auto;
			box-sizing: border-box;
			.contents-box{display: block;}
			.title {
				font-size: vw(56px);
				font-weight: 900;
				line-height: 1.54;
				letter-spacing: -2.8px;
			}
			.bg-make{
				position: relative;
				text-align: center;
				margin-top:vw(60px);
				h3 {
					position: absolute;
					left:50%; top:50%;
					transform: translate(-50%,-50%);
					font-family:  'Noto Sans KR', sans-serif;;
					font-size: vw(80px);
					font-weight: 900;
					line-height: 1.45;
					letter-spacing: -0.8px;
					color: #ffffff;
					white-space: nowrap;
				}
			}
		}
	}
}


@media (max-width: 1280px){
	$vw-viewport: 1180;
	@function vw($font){
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return $font / $vw-context * 1vw;
		@return $font;
	}
	#blinker {height:vw(86px); margin:0 vw(12px)}
	#virtual_dom{font-size:vw(94px);}
	#fp-nav{
		&.left{
			left:25px;
			ul li {
				width: 5px;
				height: 5px;
				border-radius: 50%;
				a {width:5px; height:5px;
					min-width: 5px;
					span {width:5px; height:5px; border-radius: 50%; border: 0;
						&:hover, &:focus{width:5px; height:5px; border-radius: 50%;}
					}
				}
			} 
			.fp-tooltip{display: none;}
		}
	}

	.full-page-wrap{
		&[data-anchor="magazine-2"] .fp-tableCell{justify-content: left; padding:0 50px;}
		.fp-tableCell{
			.page-contents{padding:0 50px; max-width: 100%;
				.title-wrap{
					font-size:vw(54px);
				}
				.search-box {
					.search-wrap{font-size: vw(94px);
						.typer{font-size: vw(94px)}
					}
				}
				// 필터
				.filter-box {
					.filter-wrap .depth-slide .filter-item-box {
						.btn-prev{
							box-sizing:border-box;
							width:vw(70px);height:vw(60px);
							background-size:12px 17px;
							margin-right:vw(8px);
						}
						.filter-item{
							padding:0 vw(30px); font-size:vw(30px);
							height:vw(60px); line-height:vw(54px);
						}
						.btn-search{
							padding:0 vw(30px);
							line-height:vw(60px);
							height:vw(60px);
							cursor:pointer;
							button{border:0;
								font-size:vw(30px);
								&:after{
									margin-left:vw(11px);
								}
							}
						}
					}
				}

				.magazine-box{
					display:flex;width:100%;padding:0 50px;box-sizing:border-box;flex-direction:column-reverse;
					.magazine-img{width:300px; max-width:100%; margin:0 auto;
						flex:0 0 100%;
						max-width: 100%;
						.magazine-link {
							top:vw(27px); right:vw(27px);
							&:before{
								content: "";
								margin-bottom:vw(7px);
								width:vw(28px); height:vw(28px);
								font:0/0 a; 
							}
						}
					}
					.magazine-info{
						flex:0 0 100%;
						max-width: 100%;
						h2{text-align: center; margin-top:vw(24px); font-size:vw(46px); }
						dl{
							margin-top:40px;
							dt{text-align: center; font-size:vw(20px);}
							dd{text-align: center; margin-top:vw(12px);
								font-size:vw(20px);}
						}
						.writer-info{
							text-align: center;
							justify-content: center;
						}
					}
					.magazine-img {
						.magazine-link{font:0/0 a; border:0;}
						img{height: auto;}
					}
	
				}
				.magazine-box-bottom {
					.swiper-container .swiper-slide{width:auto;}
				}
			}
		}
	}

	.over-page{
		.scroll-page {
			.title{font-size:vw(72px);}
			.sub-title{font-size:vw(22px);}
			.sub-text{
				font-size:vw(20px);
				& + .sub-text {margin-top:vw(18px);}
			}
			.contents-box {
				padding:vw(70px) 0;
				overflow: hidden;
				.left-box{width:100%;}
				.right-box{width:100%; margin:0;}
			}

			.vision{padding:0 vw(50px);
				.contents-box{display: block;}
				.right-box{margin-top:vw(40px);}
				dl {margin-top:vw(72px);
					dd {margin-top:vw(18px);}
				}
			}
			.believe{padding:0 vw(50px);
				.left-box{flex:0 0 vw(330px);}
				.right-box{
					margin-left:vw(80px);
					// .sub-title, .title{ display: none;}
					.img-box{position: static; margin-top:40px;}
				}
			}
			.mission{padding:0 vw(50px);
				.left-box {max-width:vw(370px);flex:0 0 vw(370px);}
				.right-box{
					.img-wrap{position: static; margin:40px auto 0;}
				}
			}
			.essence{ padding:0 vw(50px);
				.essence-list{
					margin-top:vw(40px);flex-wrap:wrap;
					li{
						dl {margin-top:vw(40px);
							dt {font-size:vw(22px);}
							dd {margin-top:vw(14px);font-size:vw(20px);}
						}
					}
				}
			}

			.logo-action {padding:0 vw(50px);
				.contents-box{padding:0;}
			}
			.logo-info{padding:vw(20px) vw(50px) vw(70px);
				.contents-box{padding:0;
					.right-box{margin-top:vw(12px);}
				}
			}
			.make{padding:vw(50px) vw(50px) vw(70px);
				.bg-make{
					h3{font-size:vw(60px);}
				}
			}
		}
	} 
	// .over-page{display: none;}
}

@media (max-width: 768px){
	$vw-viewport: 768;
	@function vw($font){
		$vw-context: $vw-viewport * 0.01 * 1px;
		@return $font / $vw-context * 1vw;
		@return $font;
	}
	#virtual_dom{font-size:vw(42px);}
	#blinker {margin:0 vw(12px)}

	.full-page-wrap{
		.fp-tableCell {
			padding:0 50px;
			box-sizing: border-box;
			.page-contents{
				padding:0;
				.title-wrap{
					font-size:vw(54px); display:block;
					.select-text {
						display: inline-block;
					}
					.text-slide{display: block;}
				}

				// .search-box .search-wrap .typer{max-width: 100px;}

				.filter-box{
					padding:0;
					max-width: 100%;
					.filter-wrap{margin-top:vw(32px);
						.depth-slide .filter-item-box {
							.btn-prev{
								box-sizing:border-box;
								width:vw(70px);height:vw(60px);
								border-radius:50px;
								background:#00b564 url(../images/depth-arrow.png) 50% 50% no-repeat;
								background-size:vw(12px) vw(17px);
								border:solid 1px #00b564;
								font:0/0 a;outline:none;
								margin-right:vw(8px)
							}
							.filter-item{
								padding:0 vw(30px); font-size:vw(30px);
								height:vw(60px); line-height:vw(54px);
								margin-bottom:vw(8px);
							}
							.btn-search{
								padding:0 vw(30px);
								line-height:vw(60px);
								height:vw(60px);
								button{
									font-size:vw(30px);
									&:after{
										background-size:100% 100%;
										width:vw(23px); height:vw(22px);
										margin-left:vw(11px);
									}
								}
							}
						}
					}
				}

				.magazine-box{
					padding:0;
					.magazine-info{max-width: 100%;
						h2 {
							font-size: 26px;
							font-weight: bold;
							line-height: 1.38;
							letter-spacing: -1.3px;
							text-align: center;
						}
						dl {margin-top:14px;
							dt{font-size:15px;
								font-weight: bold;
								line-height: 1.4;
								letter-spacing: -0.75px;}
							dd{font-size:15px;
								line-height: 1.53;
								letter-spacing: -0.75px;
								color: #000000;
								
								/* 여러 줄 자르기 추가 스타일 */ 
								white-space: normal; 
								word-wrap: break-word; 
								display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
								overflow: hidden;

							}
						}
						.writer-info{
							font-size:14px;
							em{font-size:14px; margin-right:6px;}
							.date:before{
								height:14px;
								margin:0 14px;
							}
						}
					}

					.magazine-img{width:100%; max-width:66%;
						.magazine-link {
							top:vw(27px); right:vw(27px);
							&:before{
								content: "";
								margin-bottom:vw(7px);
								width:vw(28px); height:vw(28px);
								font:0/0 a; 
							}
						}
						img {height: auto;}
					}
				}

				.magazine-box-bottom {
					h2{font-size:28px;
						display: block;
						span {display: block;}
						&:after{
							position: absolute;
							right:vw(90px);
							top:20px;
							width:36px; height:36px;
							background-size:100% 100%;
						}
					}

					.swiper-container .info{
						dl {
							dt{line-height:1.5; letter-spacing:-.8px; font-size:16px; margin-top:12px;}
							dd{display:none;}
						} 
						.writer-info{
							margin-top:7px;
							.writer{
								font-size: 13px;
								font-weight: 500;
								line-height: 1.23;
								letter-spacing: normal;
							}
							em{font-size:13px; margin-right:4px;}
						}
					} 
				}

				.fuleaf-intro h2{font-size:28px;}

			}
		} 
	} 

	.over-page {
		.scroll-page {
			.title{line-height:1.22; font-family:Montserrat; font-size:54px; font-weight:bold;
				span{display:block;}
			}
			.sub-title{line-height:1.5; letter-spacing:-.48px; font-size:16px; font-weight:bold;}
			.sub-text{margin-top:14px;line-height:1.5; letter-spacing:-.8px; font-size:16px; word-break:keep-all;}


			.believe{
				.contents-box{
					position: relative;
					overflow: visible;
					flex-wrap: wrap;
					// padding-bottom: vw(220px);
					.left-box{flex:0 0 75%;}
					.right-box{
						margin-left: 0;
						max-width: 100vw;
						max-height: 100vw;
						flex: 0 0 100%;
						// transform: translateY(50%);
						.sub-title,.title{display: none;}
						.img-box{max-width:100vw; max-height:100vw;}
					}
				}
			}

			.mission{
				.contents-box{
					position: relative;
					overflow: visible;
					flex-wrap: wrap;
					.left-box{flex:0 0 80%; max-width: 100%;}
					.right-box{
						margin-left: 0;
						max-width: 100vw;
						max-height: 100vw;
						flex: 0 0 100%;
						.img-box{max-width: 100vw; max-height: 100vw;margin: 0;
							&.mission-img-3 {max-width: 100vw; max-height:100vw;
								background-size:cover;
							}
						}
					}
				}
			}

			.essence{
				.contents-box{
					margin-top:vw(120px);
					.essence-list{
						li {flex:0 0 100%; 
							padding:vw(40px) 0;
							border-top: 0;
							&:first-child{border-top:solid 1px #707070;}
							h3 {font-size:36px;}
							dl{
								dt{
									font-size: 16px;
									font-weight: bold;
									font-stretch: normal;
									font-style: normal;
									line-height: 1.19;
									letter-spacing: -0.48px;
									text-align: left;
									color: #000000;
								}
								dd{
									font-size: 16px;
									font-weight: normal;
									font-stretch: normal;
									font-style: normal;
									line-height: 1.5;
									letter-spacing: -0.8px;
									text-align: left;
									color: #000000;
								}
							}
						}
					}
				}
			}


			.logo-info{
				.contents-box{
					position: relative;
					overflow: visible;
					flex-wrap: wrap;
					.left-box{flex:0 0 100%; max-width: 100%;
						.title{
							font-size: 36px;
							font-weight: bold;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.33;
							letter-spacing: -1.8px;
							text-align: left;
							color: #000000;
							span {
								vertical-align: top;
								display: block;
							}
						}
					}
					.right-box{
						margin-left: 0;
						max-width: 100vw;
						max-height: 100vw;
						flex: 0 0 100%;
					}
				}
			}


			.make{
				.contents-box{
					position: relative;
					overflow: visible;
					flex-wrap: wrap;
					.title{
						font-size: 36px;
						font-weight: bold;
						line-height: 1.33;
						letter-spacing: -1.8px;
					}
					.bg-make h3{font-size:26px;}
				}
			}
		}
	}
}
