@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: "Nanum Gothic", sans-serif;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.clearfix {
  zoom: 1;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: inline-block;
}

caption {
  font-size: 0;
  position: absolute;
  left: -9999px;
  width: 0px;
  height: 0px;
  line-height: 0px;
}

/** FONT **/
/** 헤더 / GNB **/
header {
  min-width: 1200px;
  background: #fff;
}

header.mbheader {
  display: none;
}

header .headerWrap {
  margin: 0 auto;
  width: 1200px;
  padding-top: 30px;
}

header .headerWrap h1 {
  float: left;
  width: 294px;
}

header .headerWrap nav {
  float: left;
  padding-top: 18px;
  width: 849px;
}

header .headerWrap nav .gnb li {
  width: 140px;
  float: left;
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 25px;
  position: relative;
  text-align: center;
}

header .headerWrap nav .gnb li > a {
  display: block;
}

header .headerWrap nav .gnb li .line {
  display: none;
  position: absolute;
  bottom: -2px;
  width: 63px;
  height: 3px;
  margin: 0;
  border: none;
  background: #293984;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .headerWrap nav .gnb li ul.subMenu {
  position: absolute;
  top: 100%;
  padding-top: 25px;
  z-index: 100;
  display: none;
}

header .headerWrap nav .gnb li ul.subMenu li {
  font-size: 1.3rem;
  float: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

header .headerWrap nav .gnb li ul.subMenu li:hover {
  color: #293984;
  text-decoration: underline;
}

header .headerWrap nav .gnb li ul.subMenu li a {
  color: #505050;
}

header .headerWrap nav .gnb li:last-child {
  margin-right: 0px;
}

header .headerWrap nav .gnb li:hover ul.subMenu {
  display: block;
}

header .headerWrap nav .gnb li:hover .line {
  display: block;
}

header .headerWrap .language {
  float: left;
  padding-top: 20px;
}

header .headerWrap .language li {
  display: inline-block;
  font-size: 1.12rem;
  font-weight: bold;
  color: #6b6b6b;
}

header .headerWrap .language li a {
  color: #6b6b6b;
}

header .headerWrap .language li.on a {
  color: #293984;
}

header .blind {
  display: none;
  width: 100%;
  height: 250px;
  min-width: 1200px;
  background: #fff;
  position: absolute;
  margin-top: 1px;
  z-index: 50;
  border-bottom: solid 1px #293984;
}

/*** 서브비주얼 / 서브 네비 ***/
.subVisualWrap {
  min-width: 1200px;
  background: url("../images/sub/sub_visual_01.png") no-repeat;
}

.subVisualWrap.businnees {
  background: url("../images/sub/sub_visual_02.png") no-repeat;
}

.subVisualWrap.person {
  background: url("../images/sub/sub_visual_03.png") no-repeat;
}

.subVisualWrap.management {
  background: url("../images/sub/sub_visual_04.png") no-repeat;
}

.subVisualWrap.customer {
  background: url("../images/sub/sub_visual_05.png") no-repeat;
}

.subVisualWrap.delivery {
  background: url("../images/sub/sub_visual_06.png") no-repeat;
}

.subVisual {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 200px;
}

.subVisual .visualTitle {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  bottom: 45px;
  left: 0;
}

.subVisual .visualTitle h2 {
  font-size: 3rem;
}

.subVisual .visualTitle hr {
  display: inline-block;
  background: #fff;
  border: none;
  width: 40px;
  height: 3px;
}

.subNavi {
  background: url(../images/sub/sub_nav.png) no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
}

.subNavi .subNaviWrap {
  width: 1200px;
  margin: 0 auto;
}

.subNavi .subNaviWrap > ul > li {
  float: left;
  width: 255px;
  height: 50px;
  line-height: 50px;
  border-right: solid 1px #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.subNavi .subNaviWrap > ul > li:first-child {
  border-left: solid 1px #fff;
}

.subNavi .subNaviWrap > ul > li a {
  display: block;
  color: #fff;
  padding: 0 15px;
  font-weight: normal;
}

.subNavi .subNaviWrap > ul > li a span {
  float: right;
}

.subNavi .subNaviWrap > ul > li > ul {
  display: none;
  position: absolute;
  top: 101%;
  left: -1px;
  background: #fff;
  border: solid 1px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  padding: 0 15px;
  width: 255px;
}

.subNavi .subNaviWrap > ul > li:hover {
  background: #fff;
}

.subNavi .subNaviWrap > ul > li:hover > a {
  color: #3b3b3b;
  border-bottom: solid 1px #ccc;
}

.subNavi .subNaviWrap > ul > li:hover > ul {
  display: block;
}

.subNavi .subNaviWrap > ul > li:hover > ul > li > a {
  color: #3b3b3b;
  border: none;
}

.subNavi .subNaviWrap > ul > li:hover > ul > li > a span {
  color: #3b3b3b;
}

.subNavi .subNaviWrap > ul > li:hover > ul > li:hover > a {
  font-weight: bold;
}

/*** 서브페이지 컨텐츠 박스 ****/
.contentsTitleBox {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.contentsTitleBox h2 {
  font-size: 3.6rem;
  padding-top: 132px;
}

.contentsTitleBox hr {
  display: inline-block;
  border: none;
  background: #273a85;
  width: 43px;
  height: 3px;
  margin: 15px 0;
}

.contentsTitleBox p {
  font-size: 2.4rem;
}

.contentsWrap {
  min-width: 1200px;
}

.contentsWrap.ceo {
  background: url("../images/sub/ceo_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.vision {
  background: url("../images/sub/vision_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.ci {
  background: url("../images/sub/ci_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.companyPartners {
  background: url("../images/sub/companyPartners_bg.png") no-repeat 0 100px;
  background-size: 100%;
}

.contentsWrap.bisinessModel {
  background: url("../images/sub/bisinessModel_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.managementSystem {
  background: url("../images/sub/managementSystem_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.hotLine {
  background: url("../images/sub/hotLine_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.delIntro {
  background: url("../images/sub/deliveryIntro_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.delPartner {
  background: url("../images/sub/deliveryPartner_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.delPartner2 {
  background: url("../images/sub/deliveryPartner_bg2.png") no-repeat;
  background-size: 100%;
}

.contentsWrap .contents {
  width: 1200px;
  margin: 0 auto;
}

.contentsWrap .checkBox {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 150px;
}

/***  foot  CI BOX    ***/
.ciBox {
  min-width: 1200px;
  background: #273a85;
  padding: 28px 0;
  margin-top: 225px;
}

.ciBox.mb {
  display: none;
}

.ciBox > ul {
  width: 1200px;
  margin: 0 auto;
}

.ciBox > ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 334px;
  text-align: center;
}

.ciBox > ul > li:first-child {
  width: 244px;
  text-align: left;
}

.ciBox > ul > li:last-child {
  width: 260px;
  text-align: right;
}

.ciBox > ul > li.vertical {
  width: 0;
  height: 30px;
  border-left: solid 1px #64709d;
  border-right: solid 1px #a1a6b5;
}

/* 버튼 스타일 */
.grayBtn {
  display: inline-block;
  background: #6e6e6e;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.blueBtn {
  display: inline-block;
  background: #273a85;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.fileListBtn {
  vertical-align: sub;
  cursor: pointer;
}

/* 체크버튼 튜닝 */
.checks, .checks2 {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.checks input[type="radio"],
.checks2 input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks input[type="radio"] + label,
.checks2 input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checks input[type="radio"] + label:before,
.checks2 input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="radio"] + label:active:before,
.checks input[type="radio"]:checked + label:active:before,
.checks2 input[type="radio"] + label:active:before,
.checks2 input[type="radio"]:checked + label:active:before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks input[type="radio"]:checked + label:before,
.checks2 input[type="radio"]:checked + label:before {
  background: #E9ECEE;
  border-color: #adb8c0;
}

.checks input[type="radio"]:checked + label:after,
.checks2 input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #273a85;
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 640px) {
  .checks input[type="radio"] + label:before,
  .checks2 input[type="radio"] + label:before {
    width: 10px;
    height: 10px;
  }
  .checks input[type="radio"]:checked + label:after,
  .checks2 input[type="radio"]:checked + label:after {
    top: 6px;
    left: 2px;
    width: 8px;
    height: 8px;
  }
}

/* 작은 체크버튼 튜닝  */
.checks3, .checks4 {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.checks3 input[type="radio"],
.checks4 input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks3 input[type="radio"] + label,
.checks4 input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.checks3 input[type="radio"] + label:before,
.checks4 input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 10px;
  height: 10px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks3 input[type="radio"] + label:active:before,
.checks3 input[type="radio"]:checked + label:active:before,
.checks4 input[type="radio"] + label:active:before,
.checks4 input[type="radio"]:checked + label:active:before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks3 input[type="radio"]:checked + label:before,
.checks4 input[type="radio"]:checked + label:before {
  background: #E9ECEE;
  border-color: #adb8c0;
}

.checks3 input[type="radio"]:checked + label:after,
.checks4 input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: #273a85;
  border-radius: 100%;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/***  로봇  ***/
.g-recaptcha {
  display: inline-block;
  margin: 20px auto;
}

/*** 푸터 ***/
footer {
  background: #424242;
  min-width: 1200px;
}

footer .footerWrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

footer .footerWrap h1 {
  float: left;
  margin: 50px 130px 30px 167px;
}

footer .footerWrap .footinfoTable {
  float: left;
  color: #bbbdbf;
  margin-top: 70px;
}

footer .footerWrap .footinfoTable h3 {
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 10px;
  display: none;
}

footer .footerWrap .footinfoTable ul {
  float: left;
  margin-right: 50px;
}

footer .footerWrap .footinfoTable ul li {
  font-size: 1.2rem;
}

footer .footerWrap .copyright {
  border-top: solid 1px #9a9a9a;
  text-align: center;
  color: #bbbdbf;
  font-size: 1.2rem;
  padding: 18px 0 20px;
  clear: both;
}

footer .mbfooterWrap {
  display: none;
}

footer .topBtn {
  display: none;
}

/* 기본스타일 */
hr.colorLine {
  background: url("../images/sub/ceo_line.png") no-repeat;
  height: 2px;
  border: none;
}

.displayB {
  display: block;
}

.displayI {
  display: inline;
}

.displayIB {
  display: inline-block;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 60%;
  }
  header.pcheader {
    display: none;
  }
  header.mbheader {
    min-width: auto;
    display: block;
  }
  header.mbheader .headerWrap {
    max-width: 640px;
    width: 100%;
    padding: 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header.mbheader .headerWrap h1 {
    width: 26.4%;
  }
  header.mbheader .headerWrap h1 a {
    display: block;
  }
  header.mbheader .headerWrap h1 img {
    width: 100%;
  }
  header.mbheader .headerWrap > ul.mblanguage {
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    right: 20%;
    top: 30px;
  }
  header.mbheader .headerWrap > ul.mblanguage > li {
    font-weight: bold;
    display: inline-block;
    color: #6b6b6b;
    text-align: center;
    margin: 0 5px;
  }
  header.mbheader .headerWrap > ul.mblanguage > li.on {
    color: #293984;
  }
  header.mbheader .headerWrap .mobileMenuBtn {
    float: right;
    width: 4.7%;
    margin-top: 2%;
  }
  header.mbheader nav.mbMenu {
    display: none;
    float: none;
    clear: both;
    width: 100%;
    padding: 0;
    position: absolute;
    background: #fff;
    z-index: 99;
  }
  header.mbheader nav.mbMenu > ul.mblanguage {
    width: 100%;
    border-top: solid 1px #bbbdbf;
    border-bottom: solid 1px #bbbdbf;
  }
  header.mbheader nav.mbMenu > ul.mblanguage > li {
    width: 50%;
    color: #bbbdbf;
    float: left;
    text-align: center;
    padding: 5% 0;
    font-size: 2.5rem;
  }
  header.mbheader nav.mbMenu > ul.mblanguage > li.on {
    background: #273a85;
    color: #fff;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li {
    border-bottom: solid 1px #bbbdbf;
    font-size: 2rem;
    font-weight: bold;
    padding: 5%;
    cursor: pointer;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > img {
    float: right;
    margin-top: 10px;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > ul {
    margin-top: 5%;
    display: none;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > ul > li {
    font-size: 2rem;
    font-weight: normal;
    margin: 2% 0;
  }
  .subVisualWrap {
    min-width: 100%;
  }
  .subNavi .subNaviWrap {
    width: 100%;
  }
  .subVisual {
    display: none;
  }
  .subNavi {
    display: none;
  }
  .contentsTitleBox {
    width: 90%;
  }
  .contentsTitleBox h2 {
    font-size: 2.5rem;
    padding-top: 5px;
  }
  .contentsTitleBox p {
    font-size: 1.7rem;
  }
  .contentsWrap {
    min-width: 100%;
  }
  .contentsWrap .contents {
    width: 90%;
  }
  .contentsWrap .contents .title h2 {
    padding: 5% 0;
    font-size: 3rem;
  }
  /***  foot  CI BOX    ***/
  .ciBox {
    display: none;
  }
  .ciBox.mb {
    display: block;
    min-width: 100%;
  }
  .ciBox.mb > ul {
    width: 100%;
  }
  .ciBox.mb > ul li {
    float: left;
    width: 33%;
    text-align: center;
    border-right: solid 1px #a1a6b5;
  }
  .ciBox.mb > ul li:last-child {
    border-right: none;
  }
  .ciBox.mb > ul li img {
    width: 80%;
  }
  footer {
    min-width: auto;
  }
  footer .footerWrap {
    display: none;
  }
  footer .mbfooterWrap {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #bbbdbf;
  }
  footer .mbfooterWrap .topBtn {
    color: #fff;
    background: #bbbdbf;
    padding: 0 7px;
    height: 21px;
    font-weight: bold;
    display: inline-block;
    margin: 3% 0;
  }
  footer .mbfooterWrap .copyright {
    padding: 1% 0;
    border-top: solid 1px #9a9a9a;
    margin-top: 3%;
  }
}

/* 375px 미만*/
@media screen and (max-width: 375px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 375px) {
  header.mbheader nav.mbMenu > ul.mbMenuList > li {
    font-size: 2rem;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > img {
    margin-top: 7px;
    width: 5%;
  }
}

/** Main Visual **/
.mainVisual {
  width: 100%;
  min-width: 1200px;
  min-height: 879px;
}

.mainVisual .slideWrap {
  width: 100%;
  position: relative;
}

.mainVisual .mbslide {
  display: none;
}

.mainVisual .mainslider div {
  position: relative;
}

.mainVisual .mainslider div div.titleBox {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mainVisual .mainslider div div.titleBox h2 {
  color: #fff;
  font-size: 7.5rem;
  line-height: 1.1;
  text-align: center;
}

.mainVisual .mainslider div div.titleBox h2 span {
  color: #ed1941;
}

.mainVisual .mainslider div div.titleBox hr {
  border: none;
  background: #fff;
  width: 100px;
  height: 2px;
  margin: 40px auto 60px;
}

.mainVisual .mainslider div div.titleBox p {
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
}

.mainVisual .slideIcon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -230px;
  display: block;
}

.mainVisual .slideIcon.mb {
  display: none;
}

.mainVisual .slideIcon li {
  float: left;
  text-align: center;
  width: 28%;
}

.mainVisual .slideIcon li:nth-child(2) {
  margin: 0 35px;
}

.mainVisual .slideIcon li .iconImage {
  display: block;
  text-align: center;
}

.mainVisual .slideIcon li .iconImage img {
  width: 100%;
}

.mainVisual .slideIcon li .iconTitle {
  font-size: 1.978rem;
  color: #fff;
  font-weight: bold;
  margin-top: 25px;
}

.slick-dots {
  position: absolute;
  top: 350px;
  right: 20%;
  z-index: 100;
}

.slick-slide img {
  width: 100%;
  height: 879px;
}

.slick-dots li {
  position: relative;
  width: 11px;
  height: 11px;
  margin: 10px 0;
  padding: 0;
  cursor: pointer;
  background: #fff;
  opacity: 0.5;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active {
  background: #fff;
  opacity: 1;
}

/** Main Contents **/
.contentsBox {
  margin-bottom: 150px;
}

.contentsWrap {
  width: 1200px;
  margin: 135px auto 30px;
}

.contentsWrap article.imageBox {
  width: 400px;
  height: 344px;
  float: left;
  background-position: center;
  background-size: 100%;
  font-weight: 900;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contentsWrap article.imageBox:nth-child(1) {
  background: url(../images/main_image_01.png) no-repeat;
}

.contentsWrap article.imageBox:nth-child(2) {
  background: url(../images/main_image_02.png) no-repeat;
}

.contentsWrap article.imageBox:nth-child(3) {
  background: url(../images/main_image_03.png) no-repeat;
}

.contentsWrap article.imageBox:nth-child(4) {
  background: url(../images/main_image_04.png) no-repeat;
}

.contentsWrap article.imageBox:nth-child(5) {
  background: url(../images/main_image_05.png) no-repeat;
}

.contentsWrap article.imageBox:nth-child(6) {
  background: url(../images/main_image_06.png) no-repeat;
}

.contentsWrap article.imageBox img.pcImg {
  display: none;
}

.contentsWrap article.imageBox img.mbImg {
  display: none;
}

.contentsWrap article.imageBox .innerBox {
  position: absolute;
  text-align: left;
  z-index: 10;
  top: 60px;
  left: 60px;
}

.contentsWrap article.imageBox .innerBox span {
  color: #273a85;
  font-size: 1.86rem;
  font-weight: 900;
}

.contentsWrap article.imageBox .innerBox h3 {
  margin-top: 25px;
  font-size: 3.5rem;
  font-weight: 900;
}

.contentsWrap article.imageBox .innerBox hr {
  display: inline-block;
  border: none;
  background: #273a85;
  width: 35px;
  height: 2px;
  margin: 20px 0 15px;
}

.contentsWrap article.imageBox .innerBox p {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.6;
}

.contentsWrap article.imageBox .innerBox p.pcText {
  display: block;
}

.contentsWrap article.imageBox .innerBox p.mbText {
  display: none;
}

.contentsWrap article.imageBox .innerBox.white {
  color: #fff;
}

.contentsWrap article.imageBox .innerBox.white span {
  color: #fff;
}

.contentsWrap article.imageBox .innerBox.white hr {
  background: #fff;
}

@media screen and (max-width: 640px) {
  .contentsBox {
    height: auto;
  }
  .mainVisual {
    width: 100%;
    min-width: 100%;
    min-height: auto;
  }
  .mainVisual .mainslider {
    display: none;
  }
  .mainVisual .mbslide {
    display: block;
  }
  .mainVisual .mbslide div {
    position: relative;
  }
  .mainVisual .mbslide div div.titleBox {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  .mainVisual .mbslide div div.titleBox h2 {
    color: #fff;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
  }
  .mainVisual .mbslide div div.titleBox h2 span {
    color: #ed1941;
  }
  .mainVisual .mbslide div div.titleBox hr {
    border: none;
    background: #fff;
    width: 100px;
    height: 2px;
    margin: 5% auto;
  }
  .mainVisual .mbslide div div.titleBox p {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
  }
  .mainVisual .slideIcon {
    display: none;
    position: static;
    margin: 0;
  }
  .mainVisual .slideIcon.mb {
    display: block;
    width: 80%;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto;
  }
  .mainVisual .slideIcon.mb > li {
    width: 33.33%;
    margin: 0;
    text-align: center;
    position: relative;
  }
  .mainVisual .slideIcon.mb > li .iconImage {
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }
  .mainVisual .slideIcon.mb > li .iconImage img {
    width: 70%;
  }
  .mainVisual .slideIcon.mb > li .iconTitle {
    color: #000;
  }
  .mainVisual .slideIcon.mb > li:last-child::after {
    display: none;
  }
  .slick-slide img {
    height: auto;
  }
  .contentsWrap {
    max-width: 1200px;
    margin: 30px auto 30px;
    width: 100%;
    border: none;
  }
  .contentsWrap article.imageBox {
    width: 50%;
    height: auto;
    border: none;
  }
  .contentsWrap article.imageBox.borderB {
    border: none;
  }
  .contentsWrap article.imageBox img.pcImg {
    display: none;
  }
  .contentsWrap article.imageBox img.mbImg {
    display: block;
    position: static;
    width: 100%;
  }
  .contentsWrap article.imageBox .innerBox {
    top: 20%;
    left: 10%;
  }
  .contentsWrap article.imageBox .innerBox h3 {
    margin-top: 5%;
    font-size: 3rem;
  }
  .contentsWrap article.imageBox .innerBox hr {
    margin: 8% 0;
  }
  .contentsWrap article.imageBox .innerBox p {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.6;
  }
  .contentsWrap article.imageBox .innerBox p.pcText {
    display: none;
  }
  .contentsWrap article.imageBox .innerBox p.mbText {
    display: block;
  }
  .contentsWrap article.imageBox .innerBox.white {
    color: #fff;
  }
  .contentsWrap article.imageBox .innerBox.white h3.black {
    color: #000;
  }
  .contentsWrap article.imageBox .innerBox.white span {
    color: #fff;
  }
  .contentsWrap article.imageBox .innerBox.white hr {
    background: #fff;
  }
  .contentsWrap article.imageBox .innerBox.white hr.black {
    background: #273a85;
  }
  .slick-dots {
    top: inherit;
    bottom: 5%;
    right: 50%;
    margin-right: -33px;
  }
  .slick-dots li {
    float: left;
    margin-right: 10px;
  }
}

/** Notice **/
.notice {
  max-width: 1200px;
  width: 100%;
  height: 290px;
  margin: 0 auto;
  border: solid 1px #bbbdbf;
  background: #fff;
}

.notice .noticeinner {
  max-width: 950px;
  width: 100%;
  margin: 70px auto 0;
  position: relative;
}

.notice .noticeinner h3 {
  font-size: 4rem;
}

.notice .noticeinner h3 span {
  display: none;
}

.notice .noticeinner p {
  font-size: 2rem;
  font-weight: bold;
  color: #777;
}

.notice .noticeinner .noticeContents {
  border: solid 1px #bbbdbf;
  padding: 13px;
  position: relative;
  top: 35px;
}

.notice .noticeinner .noticeContents span {
  color: #777;
  font-size: 1.7rem;
  font-weight: bold;
}

.notice .noticeinner .noticeContents span.vertical {
  margin: 0 10px;
}

.notice .noticeinner .noticeContents span.day {
  font-weight: normal;
  margin-right: 45px;
}

.notice .noticeinner .noticeContents strong {
  display: inline-block;
  font-size: 2rem;
  color: #000;
}

.notice .noticeinner .noticeContents .noticeAdd {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  background: #ddd;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}

.notice .noticeinner .noticeImage {
  position: absolute;
  top: 0px;
  right: 10px;
  display: block;
}

.notice .noticeinner .noticeAdd.mb {
  display: none;
}

@media screen and (max-width: 640px) {
  .notice {
    width: 90%;
    height: auto;
    border: none;
  }
  .notice .noticeinner {
    margin-top: 20px;
  }
  .notice .noticeinner .noticeImage {
    display: none;
  }
  .notice .noticeinner h3 {
    font-size: 3.5rem;
    font-weight: normal;
  }
  .notice .noticeinner h3 span {
    display: inline-block;
    font-size: 2rem;
  }
  .notice .noticeinner p {
    display: none;
  }
  .notice .noticeinner .noticeContents .noticeAdd {
    display: none;
  }
  .notice .noticeinner .noticeContents strong {
    display: block;
    margin-top: 10px;
  }
  .notice .noticeinner .noticeAdd.mb {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
    background: #ddd;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding: 1% 3%;
  }
}

.mainfooter {
  margin-top: 0;
}

.mainfooter .ci {
  background: #273a85;
  padding: 30px 0;
}

.mainfooter .ci .ciWrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.mainfooter .ci .ciWrap ul li {
  float: left;
  width: 340px;
  text-align: center;
}

.mainfooter .ci .ciWrap ul li:first-child {
  text-align: left;
}

.mainfooter .ci .ciWrap ul li:nth-child(2) {
  width: 520px;
}

.mainfooter .ci .ciWrap ul li:nth-child(2) a {
  border-right: solid 1px #a1a6b5;
  border-left: solid 1px #a1a6b5;
}

.mainfooter .ci .ciWrap ul li:last-child {
  text-align: right;
}

.mainfooter .ci .ciWrap ul li a {
  display: block;
}

.mainfooter .ci .ciWrap ul li img {
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .mainfooter .ci .ciWrap ul li {
    width: 33.33% !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 40%;
  }
  .mainVisual .mbslide div div.titleBox {
    top: 50%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 30%;
  }
  .mainfooter .ci .ciWrap ul li img {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */