@charset "UTF-8";
/** FONT **/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/** 헤더 / GNB **/
header {
  min-width: 1200px;
  background: #fff;
}

header.mbheader {
  display: none;
}

header .headerWrap {
  margin: 0 auto;
  width: 1200px;
  padding-top: 30px;
}

header .headerWrap h1 {
  float: left;
  width: 294px;
}

header .headerWrap nav {
  float: left;
  padding-top: 18px;
  width: 849px;
}

header .headerWrap nav .gnb li {
  width: 140px;
  float: left;
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 25px;
  position: relative;
}

header .headerWrap nav .gnb li .line {
  display: none;
  position: absolute;
  bottom: -2px;
  width: 63px;
  height: 3px;
  margin: 0;
  border: none;
  background: #293984;
  z-index: 100;
}

header .headerWrap nav .gnb li ul.subMenu {
  position: absolute;
  top: 100%;
  padding-top: 25px;
  z-index: 100;
  display: none;
}

header .headerWrap nav .gnb li ul.subMenu li {
  font-size: 1.2rem;
  float: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

header .headerWrap nav .gnb li ul.subMenu li:hover {
  color: #293984;
  text-decoration: underline;
}

header .headerWrap nav .gnb li ul.subMenu li a {
  color: #505050;
}

header .headerWrap nav .gnb li:last-child {
  margin-right: 0px;
}

header .headerWrap nav .gnb li:hover ul.subMenu {
  display: block;
}

header .headerWrap nav .gnb li:hover .line {
  display: block;
}

header .headerWrap .language {
  float: left;
  padding-top: 20px;
}

header .headerWrap .language li {
  display: inline-block;
  font-size: 1.12rem;
  font-weight: bold;
  color: #6b6b6b;
}

header .headerWrap .language li a {
  color: #6b6b6b;
}

header .headerWrap .language li.on a {
  color: #293984;
}

header .blind {
  display: none;
  width: 100%;
  height: 250px;
  min-width: 1200px;
  background: #fff;
  position: absolute;
  margin-top: 1px;
  z-index: 50;
}

/*** 서브비주얼 / 서브 네비 ***/
.subVisualWrap {
  min-width: 1200px;
  background: url("../images/sub/sub_visual_01.png") no-repeat;
}

.subVisualWrap.businnees {
  background: url("../images/sub/sub_visual_02.png") no-repeat;
}

.subVisualWrap.person {
  background: url("../images/sub/sub_visual_03.png") no-repeat;
}

.subVisualWrap.management {
  background: url("../images/sub/sub_visual_04.png") no-repeat;
}

.subVisualWrap.customer {
  background: url("../images/sub/sub_visual_05.png") no-repeat;
}

.subVisualWrap.delivery {
  background: url("../images/sub/sub_visual_06.png") no-repeat;
}

.subVisual {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 200px;
}

.subVisual .visualTitle {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 0;
}

.subVisual .visualTitle h2 {
  font-size: 3rem;
}

.subVisual .visualTitle hr {
  display: inline-block;
  background: #fff;
  border: none;
  width: 40px;
  height: 3px;
}

.subNavi {
  background: url(../images/sub/sub_nav.png) no-repeat;
  padding: 8px 0;
  background-size: cover;
  width: 100%;
}

.subNavi .subNaviWrap {
  width: 1200px;
  margin: 0 auto;
}

.subNavi .subNaviWrap ul li {
  float: left;
  width: 255px;
  height: 35px;
  line-height: 35px;
  border-right: solid 1px #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0px 30px 0 35px;
  box-sizing: border-box;
}

.subNavi .subNaviWrap ul li:first-child {
  border-left: solid 1px #fff;
}

.subNavi .subNaviWrap ul li a {
  display: block;
  color: #fff;
}

.subNavi .subNaviWrap ul li a span {
  float: right;
}

.subNavi .subNaviWrap ul li:last-child a {
  color: #273a85;
}

.subNavi .subNaviWrap ul li:last-child a span {
  color: #fff;
}

/*** 서브페이지 컨텐츠 박스 ****/
.contentsTitleBox {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.contentsTitleBox h2 {
  font-size: 3.6rem;
  padding-top: 132px;
}

.contentsTitleBox hr {
  display: inline-block;
  border: none;
  background: #273a85;
  width: 43px;
  height: 3px;
  margin: 15px 0;
}

.contentsTitleBox p {
  font-size: 2.4rem;
}

.contentsWrap {
  min-width: 1200px;
}

.contentsWrap.intro {
  background: url("../images/sub/contentsWrap_img_01.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.ceo {
  background: url("../images/sub/ceo_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.vision {
  background: url("../images/sub/vision_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.ci {
  background: url("../images/sub/ci_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.companyPartners {
  background: url("../images/sub/companyPartners_bg.png") no-repeat 0 100px;
  background-size: 100%;
}

.contentsWrap.bisinessModel {
  background: url("../images/sub/bisinessModel_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.managementSystem {
  background: url("../images/sub/managementSystem_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.hotLine {
  background: url("../images/sub/hotLine_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.delIntro {
  background: url("../images/sub/deliveryIntro_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap.delPartner {
  background: url("../images/sub/deliveryPartner_bg.png") no-repeat;
  background-size: 100%;
}

.contentsWrap .contents {
  width: 1200px;
  margin: 0 auto;
}

.contentsWrap .checkBox {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 150px;
}

/***  foot  CI BOX    ***/
.ciBox {
  min-width: 1200px;
  background: #273a85;
  padding: 28px 0;
  margin-top: 225px;
}

.ciBox.mb {
  display: none;
}

.ciBox > ul {
  width: 1200px;
  margin: 0 auto;
}

.ciBox > ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 334px;
  text-align: center;
}

.ciBox > ul > li:first-child {
  width: 244px;
  text-align: left;
}

.ciBox > ul > li:last-child {
  width: 260px;
  text-align: right;
}

.ciBox > ul > li.vertical {
  width: 0;
  height: 30px;
  border-left: solid 1px #64709d;
  border-right: solid 1px #a1a6b5;
}

/* 버튼 스타일 */
.grayBtn {
  display: inline-block;
  background: #6e6e6e;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.blueBtn {
  display: inline-block;
  background: #273a85;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.fileListBtn {
  vertical-align: sub;
  cursor: pointer;
}

/* 체크버튼 튜닝 */
.checks, .checks2 {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.checks input[type="radio"],
.checks2 input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks input[type="radio"] + label,
.checks2 input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checks input[type="radio"] + label:before,
.checks2 input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks input[type="radio"] + label:active:before,
.checks input[type="radio"]:checked + label:active:before,
.checks2 input[type="radio"] + label:active:before,
.checks2 input[type="radio"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks input[type="radio"]:checked + label:before,
.checks2 input[type="radio"]:checked + label:before {
  background: #E9ECEE;
  border-color: #adb8c0;
}

.checks input[type="radio"]:checked + label:after,
.checks2 input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #000000;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 640px) {
  .checks input[type="radio"] + label:before,
  .checks2 input[type="radio"] + label:before {
    width: 10px;
    height: 10px;
  }
  .checks input[type="radio"]:checked + label:after,
  .checks2 input[type="radio"]:checked + label:after {
    top: 6px;
    left: 2px;
    width: 8px;
    height: 8px;
  }
}

/* 작은 체크버튼 튜닝  */
.checks3, .checks4 {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.checks3 input[type="radio"],
.checks4 input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks3 input[type="radio"] + label,
.checks4 input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.checks3 input[type="radio"] + label:before,
.checks4 input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 10px;
  height: 10px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks3 input[type="radio"] + label:active:before,
.checks3 input[type="radio"]:checked + label:active:before,
.checks4 input[type="radio"] + label:active:before,
.checks4 input[type="radio"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checks3 input[type="radio"]:checked + label:before,
.checks4 input[type="radio"]:checked + label:before {
  background: #E9ECEE;
  border-color: #adb8c0;
}

.checks3 input[type="radio"]:checked + label:after,
.checks4 input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: #273a85;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/***  로봇  ***/
.g-recaptcha {
  display: inline-block;
  margin: 20px auto;
}

/*** 푸터 ***/
footer {
  background: #424242;
  min-width: 1200px;
}

footer .footerWrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

footer .footerWrap h1 {
  float: left;
  margin: 50px 130px 30px 167px;
}

footer .footerWrap .footinfoTable {
  float: left;
  color: #bbbdbf;
  margin-top: 50px;
}

footer .footerWrap .footinfoTable h3 {
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 10px;
}

footer .footerWrap .footinfoTable ul {
  float: left;
  margin-right: 50px;
}

footer .footerWrap .footinfoTable ul li {
  font-size: 1.2rem;
}

footer .footerWrap .copyright {
  border-top: solid 1px #9a9a9a;
  text-align: center;
  color: #bbbdbf;
  font-size: 1.2rem;
  padding: 18px 0 20px;
  clear: both;
}

footer .mbfooterWrap {
  display: none;
}

footer .topBtn {
  display: none;
}

/* 기본스타일 */
hr.colorLine {
  background: url("../images/sub/ceo_line.png") no-repeat;
  height: 2px;
  border: none;
}

.displayB {
  display: block;
}

.displayI {
  display: inline;
}

.displayIB {
  display: inline-block;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 60%;
  }
  header.pcheader {
    display: none;
  }
  header.mbheader {
    min-width: auto;
    display: block;
  }
  header.mbheader .headerWrap {
    max-width: 640px;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
  }
  header.mbheader .headerWrap h1 {
    width: 26.4%;
  }
  header.mbheader .headerWrap h1 a {
    display: block;
  }
  header.mbheader .headerWrap h1 img {
    width: 100%;
  }
  header.mbheader .headerWrap > ul.mblanguage {
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    right: 20%;
    top: 30px;
  }
  header.mbheader .headerWrap > ul.mblanguage > li {
    font-weight: bold;
    display: inline-block;
    color: #6b6b6b;
    text-align: center;
    margin: 0 5px;
  }
  header.mbheader .headerWrap > ul.mblanguage > li.on {
    color: #293984;
  }
  header.mbheader .headerWrap .mobileMenuBtn {
    float: right;
    width: 4.7%;
    margin-top: 2%;
  }
  header.mbheader nav.mbMenu {
    display: none;
    float: none;
    clear: both;
    width: 70%;
    padding: 0;
    position: absolute;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li {
    border-bottom: solid 1px #acacac;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 3%;
    cursor: pointer;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > img {
    float: right;
    margin-top: 10px;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > ul {
    margin-top: 3%;
    display: none;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > ul > li {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 2% 0;
    padding-left: 5%;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > ul > li:hover a {
    border-bottom: solid 1px #273a85;
    color: #273a85;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li.on {
    color: #273a85;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li.on > ul {
    border-top: solid 1px #273a85;
  }
  .subNavi .subNaviWrap {
    width: 100%;
  }
  .subVisual {
    display: none;
  }
  .subNavi {
    display: none;
  }
  .contentsTitleBox {
    width: 90%;
  }
  .contentsTitleBox h2 {
    font-size: 2.5rem;
    padding-top: 5px;
  }
  .contentsTitleBox p {
    font-size: 1.7rem;
  }
  .contentsWrap {
    min-width: 100%;
  }
  .contentsWrap .contents {
    width: 90%;
  }
  .contentsWrap .contents .title h2 {
    padding: 5% 0;
    font-size: 3rem;
  }
  /***  foot  CI BOX    ***/
  .ciBox {
    display: none;
  }
  .ciBox.mb {
    display: block;
    min-width: 100%;
  }
  .ciBox.mb > ul {
    width: 100%;
  }
  .ciBox.mb > ul li {
    float: left;
    width: 33%;
    text-align: center;
    border-right: solid 1px #a1a6b5;
  }
  .ciBox.mb > ul li:last-child {
    border-right: none;
  }
  .ciBox.mb > ul li img {
    width: 80%;
  }
  footer {
    min-width: auto;
  }
  footer .footerWrap {
    display: none;
  }
  footer .mbfooterWrap {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #bbbdbf;
  }
  footer .mbfooterWrap .topBtn {
    color: #fff;
    background: #bbbdbf;
    padding: 0 7px;
    height: 21px;
    font-weight: bold;
    display: inline-block;
    margin: 3% 0;
  }
  footer .mbfooterWrap .copyright {
    padding: 1% 0;
    border-top: solid 1px #9a9a9a;
    margin-top: 3%;
  }
}

/* 375px 미만*/
@media screen and (max-width: 375px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 375px) {
  header.mbheader nav.mbMenu > ul.mbMenuList > li {
    font-size: 2rem;
  }
  header.mbheader nav.mbMenu > ul.mbMenuList > li > img {
    margin-top: 7px;
    width: 5%;
  }
}
/*# sourceMappingURL=common.css.map */