@charset "utf-8";
@import "reset.scss";
@import "common.scss";


/*******************************************************************
	* 디테일비주얼
*******************************************************************/
.mainVisual {
    width:100%;
    min-width: 1150px;
    height:370px;
    margin:0 auto;
    background:url('../images/main_visual_01.png') no-repeat 0 / cover;
    .visualContents{
        width:100%;
        height:100%;
        background: rgba(38,38,38,0.85);
        .visualContentsWrap {
            width:1150px; height:100%;
            margin:0 auto;
            position:relative;
            > .contentBox {
                position:absolute; bottom:0;
                > div { float: left;}
                > .imgBox { 
                    width:300px; margin-right:30px;
                    position:relative;
                    cursor: pointer;
                    &:hover {
                        > .blind { display:block;}
                    }
                    img { 
                        display:inline-block;
                        vertical-align: top;
                        width:300px; height:225px;
                        &.mbImg { display:none;}
                    }
                    > .blind {
                        position: absolute;
                        top:0; left:0;
                        width:100%; height:100%;
                        background: rgba(0,0,0,0.5);
                        display:none;
                        > img { 
                            width:15px; height:27px;
                            position: absolute;
                            top:50%; margin-top:-13px;
                            &.prev { left:10px;}
                            &.next { right:10px;}
                        }
                    }
                }
                > .textBox {
                    > ul > li {
                        padding:0 20px;
                        float:left;
                        &:first-child{ padding-left:0;}
                        &:nth-child(2){ border-left:solid 1px #fff; border-right:solid 1px #fff;}
                        a { color:#fff;}
                    }
                    width:800px; color:#fff; font-size:1.4rem;
                    > h2 { 
                        font-size:3.8rem;
                        span { 
                            display:block;
                            font-size:1.4rem;
                            font-weight: normal;
                        }
                    }
                    > p {
                        font-size:1.4rem;
                        margin:20px 0 15px;
                        > a { color:#fff;}
                    }
                }

                > .buttonBox {
                    >ul > li {
                        float:left;
                        width:100px;
                        line-height: 30px;
                        border-radius: 5px;
                        text-align:center;
                        border:solid 2px #fff;
                        box-sizing: border-box;
                        &.likeBtn {
                            background:#fff;
                            margin-right:5px;
                            a { color:#111; font-size:1.3rem; display:block;}
                        }
                        &.shareBtn {
                            a { color:#fff; font-size:1.3rem; display:block;}
                        }
                    }
                }

                > .ratingBox {
                    position:absolute;
                    right:0; bottom:195px;
                    > ul > li {
                        height: 20px; line-height: 20px;
                        display: inline-block;
                        margin-left:15px;
                        text-align:center;
                        vertical-align: middle;
                        cursor:pointer;
                        position:relative;
                        &:hover{ 
                            > .starBox { display:block;}
                        }
                        > .starBox {
                            display:none;
                            position: absolute;
                            top:-100%; left:-20px;
                            width:50px;
                            > ul {
                                > li { 
                                    display:inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.ratingBox2 {
    position: relative;
    > ul > li {
        height: 20px; line-height: 20px;
        display: inline-block;
        margin-left:15px;
        text-align:center;
        vertical-align: middle;
        cursor:pointer;
        position:relative;
        &:hover{ 
            > .starBox2 { display:block;}
        }
        > .starBox2 {
            display:none;
            position: absolute;
            top:-100%; left:-20px;
            width:50px;
            > ul {
                > li { 
                    display:inline-block;
                }
            }
        }
    }
}



/*******************************************************************
	* 팝업정보
*******************************************************************/
.popup-gallery {  visibility: hidden; height:0;}
.fieldEx {
    width:500px;
    background:#fff;
    margin:0 auto;
    padding:70px;
    border-radius: 15px;
    h1 {
        font-size:2.4rem;
        text-align:center;
        margin-bottom:40px;
        span { display:block; font-size:1.4rem; color:#808080}
    }
    p { font-size:1.6rem; margin-bottom:30px;}
}
.bubblePop {
    width:250px; height: 500px; overflow: hidden;
    background:#fff;
    margin:0 auto;
    border-radius: 15px;
    h1 {
        font-size:1.2rem;
        color:#737f86;
        border-bottom:solid 1px #dce3e4;
        padding:15px;
    }
    ul {
        width:70%;
        margin:10px auto;
        > li {
            padding:5px 0;
            > span { 
                display: inline-block; vertical-align: middle;
                font-size:13px;
                &.likeProfile {
                    width:40px; height:40px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right:10px;
                }
            }
        }
    }
}


/*******************************************************************
	* 디테일정보 
*******************************************************************/

// 색상
.greenBg {
    background:#65cb32;
    color:#fff;
}
.yellowBg {
    background:#fecb45;
    color:#fff;
}
.redBg {
    background:#fc0c1b;
    color:#fff;
}
.blankBg {
    background:#111111;
    color:#fff;
}
.grayBg {
    background:#cccccc;
    color:#fff;
}
.whiteBg {
    background:#fff;
}
.googleMap{
    width:100%; height: 500px; top:115px;
}
.webix_popup { position:absolute; top:1150px !important; left:400px !important;}
.webix_inp_static { display:none;}
.webix_el_colorpicker span.webix_input_icon, .webix_el_combo span.webix_input_icon, .webix_el_datepicker span.webix_input_icon, .webix_el_dbldatepicker span.webix_input_icon, .webix_el_richselect span.webix_input_icon { background-color:transparent !important; color:#adadad;}
.contents{
    background:#e4e6ed;
    .contentsWrap{
        width:1150px;
        margin:0 auto;

        > .rightBox {
            float:right;
            width:290px;
            > div { margin-bottom:9px;}
            .scoreBox ul > li {
                display:inline-block;
                dl {
                    font-size:1.3rem;
                    dt {
                        font-weight: bold;
                        color:#111111;
                    }
                    dd {
                        strong{
                            color:#111111;
                        }
                        color:#808080;
                    }
                }
            }
            .grade {
                width:70px; height:70px;
                line-height: 70px;
                font-size:3.2rem;
                text-align:center;
                margin-right:15px;
            }

            .listHeader {
                background:#2588be;
                color:#fff;
                height:40px; line-height: 40px;
                font-size:1.3rem;
                text-indent:15px;
                position:relative;
                > ul {
                    position:absolute;
                    top:0; right:15px;
                    > li {
                        display:inline-block;
                        cursor: pointer;
                        text-align:center;
                        text-indent:0;
                        &.verticalBar { margin:0 10px;}
                    }
                }
            }

            .normalRankArea { display:none;}

            > .awards {
                > ul > li {
                    height:48px; line-height: 48px;
                    font-size:1.3rem;
                    border-bottom:solid 1px #e6e6e6;
                    img { vertical-align: middle; margin:0 10px 0 15px;}
                }
            }

            > .courseRank {
                > ul > li {
                    height:50px; line-height: 50px;
                    font-size:1.3rem;
                    position:relative;
                    &:nth-child(even){
                        background: #fafaff;
                    }
                    .ranking {
                        margin:0 10px 0 15px;
                    }
                    .score{
                        display:inline-block;
                        text-align:center;
                        border-radius: 2px;
                        width:22px; height:22px; line-height: 22px;
                        font-size:1rem;
                        position:absolute;
                        top:13px; right:15px;
                    }
                    > a { display:block;}
                }
            }

            .allSee{
                height: 40px !important; line-height: 40px !important;
                border-top:solid 1px #e6e6e6;
                text-align:center;
                padding:0 !important;
                a{ display:block; color:#2588be}
            }

            .goodText{
                > ul > li{
                    font-size:1.3rem;
                    padding:20px 15px;
                    dd {
                        color:#808080;
                        font-size:1.2rem;
                    }
                }
            }
        }

        // 필드정보
        > .fieldinfoBox{
            width:853px; 
            float:left;
            > .fieldinfo {
                background: #eff0f4;
                .fiedText {
                    margin-left:30px;
                    > div {
                        font-size:1.2rem;
                        color:#9095a1;
                        padding:20px 0;
                        span{
                            display:block;
                            color:#3b4458;
                            font-size:1.8rem;
                        }
                        &:last-child{ margin-right:0;}
                    }
                }
                > ul {
                    margin-left:30px;
                    li {
                        float:left;
                        font-size:1.2rem;
                        color:#9095a1;
                        margin-right:50px;
                        padding:20px 0;
                        span{
                            display:block;
                            color:#3b4458;
                            font-size:1.8rem;
                        }
                        &:last-child{ margin-right:0;}
                    }
                }


                // 차트 / sns평가
                > .chartBox {
                    
                    .snsChart {
                        width:400px; height:400px;
                        margin-top:-20px; margin-left:-15px;
                        float:left;
                        transition:all 1s;
                        .zc-ref {display: none;}
                    }
                    .snsValueBox {
                        float:left;
                        width:450px; margin-top:15px;
                        font-size:1.3rem;
                        > li {
                            border-bottom:solid 1px #e6e6e6;
                            padding:15px;
                            .snsProfile { 
                                display:inline-block;
                                vertical-align: middle;
                                width:40px; height:40px;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            dl {
                                display:inline-block;
                                vertical-align: middle;
                                font-size:1.3rem;
                                color:#111;
                                dd { 
                                    strong{ color:#111111;}
                                    color:#808080;
                                }
                            }
                            &.snsScoreBox {
                                height:auto;
                                .snsScore{
                                    display:inline-block;
                                    width:40px; height:40px;
                                    line-height: 40px;
                                    text-align:center;
                                    border-radius: 5px;
                                    font-size:1.8rem;
                                }
                                .snsScoreText {
                                    display:inline-block;
                                    width:370px;
                                    vertical-align: top;
                                    margin-left:10px;
                                }
                            }
                            &.likePeople {
                                border:none;
                                > ul {
                                    margin:15px 0 10px;
                                    > li {
                                        float: left;
                                        margin-right: 5px;
                                        width: 30px;
                                        height: 30px;
                                        overflow: hidden;
                                        border-radius: 50%;
                                    }   
                                }
                                >div { 
                                    color:#808080;
                                    strong{ 
                                        color:#111; position: relative;
                                        cursor:pointer;
                                        > ul {
                                            display: none;
                                            position: absolute;
                                            background: #111111;
                                            left: 0;
                                            top: 100%;
                                            width:60px;
                                            padding: 8px;
                                            border-radius: 10px;
                                            z-index: 9;
                                            color: #fff;
                                            font-weight: normal;
                                            a { color:#fff;}
                                        }
                                        &:hover { 
                                            > ul { display:inline-block;}
                                        }
                                    }
                                    > span { cursor: pointer;}
                                    
                                }
                            }
                        }
                    }
                }
            }
        }


        // 평가남기기
        .boxTitle{
            height:40px; line-height: 40px;
            font-size:1.3rem;
            background:#eff0f4; color:#3b4458;
            text-indent:20px;
            border-right:solid 1px #e6e6e6;
            position: relative;
            > ul {
                position: absolute;
                top :0; right:10px;
                li { 
                    display: inline-block;
                    line-height: 1;
                    text-indent: 0;
                    padding: 0 10px;
                    cursor: pointer;
                    &:first-child { border-right:solid 1px #3b4458;}
                }
            }
        }

        > .commentBox {
            width:853px;
            float:left;
            margin-top:9px;
            background:red;
            .commentBoxWrap {
                padding:15px 20px;
                background:#fff;
                position:relative;
                .ratingBox {
                    > ul > li {
                        height: 20px; line-height: 20px;
                        display: inline-block;
                        margin-right:15px;
                        text-align:center;
                        vertical-align: middle;
                        cursor:pointer;
                    }
                }
                textarea {
                    width:100%; height:100px;
                    margin-top:10px;
                    border:solid 1px #e6e6e6;
                }
                .submitBtn {
                    position: absolute;
                    width:55px; height:30px; line-height: 30px;
                    bottom:15px; right:13px;
                    background:#2588be;
                    border:none;
                    border-radius: 5px;
                    color:#fff;
                    font-size:1.3rem;
                }
                .datapicker { margin-top:10px; margin-left:10px;}
            }
        }

        > .commentView {
            width:853px;
            float:left;
            margin-top:9px;
            background:#fff;
            position:relative;
            > div {
                width:50%;
                float:left;
                .evaluationBox {
                    background:#fff;
                    font-size:1.4rem;
                    padding:20px;
                    position: relative;
                    border-bottom:solid 1px #e6e6e6;
                    border-right:solid 1px #e6e6e6;
                    &:nth-of-type(2) { border-right: none;}
                    .likeImg {
                        display:inline-block;
                        border-radius: 5px;
                        width:30px;height:30px;line-height: 30px;
                        margin-right:8px;
                        text-align:center;
                    }
                    > ul {
                        position: absolute;
                        bottom:15px; right: 20px;
                        > li{
                            float:left;
                            position:relative;
                            width:20px; height:50px;
                            margin-left:2px;
                            cursor: pointer;
                            span {
                                position:absolute;
                                bottom:0;
                                background:#e6e6e6;
                                display:inline-block;
                                width:100%;
                                &.graph_01{height:5px;}
                                &.graph_02{height:10px;}
                                &.graph_03{height:20px;}
                                &.graph_04{height:35px;}
                                &.graph_05{height:40px;}
                                &.graph_06{height:30px;}
                                &.graph_07{height:20px;}
                            }
                        }
                    }
                }
            }
            .proComment > .evaluationBox ul li:hover span { background:#fecb45;}
            .normalComment > .evaluationBox ul li:hover span { background:#68c53e;}


            .viewList{
                font-size:1.3rem;
                color:#111;
                text-align:justify;
                background:#fff;
                border-right: solid 1px #e6e6e6;
                > li {
                    position:relative;
                    padding:25px 20px;
                    &:nth-child(even) { background:#fafaff;}
                    .commentViewScore{
                        display:inline-block;
                        width:40px;height:40px;line-height:40px;
                        text-align:center;
                        font-size:1.8rem;
                        border-radius: 5px; margin-right:8px;
                        vertical-align: middle
                    }
                    .commentViewScore.round{
                        border-radius: 50%;
                    }
                    dl {
                        display:inline-block;
                        vertical-align: middle;
                        dt { font-weight: bold;}
                        dd { color:#808080;}
                    }
                    p { margin-top:15px; margin-bottom:5px;}
                    .likeBtnBox{
                        position:absolute;
                        top:40px; right:20px;
                        cursor: pointer; 
                        img { cursor: pointer;}
                    }
                    .commentPhoto {
                        > li { float:left; margin-right: 5px; cursor:pointer;}
                    }
                }
            }
            .allSee{
                text-align: center;
                padding: 0px;
                background: #fff;
                position: absolute;
                width: 50%;
                bottom: -41px;
                border-top:solid 1px #e6e6e6;
                border-right:solid 1px #e6e6e6;
                box-sizing: border-box;
                a{ 
                    font-size:1.3rem;
                    display:block;
                    height:41px;
                    line-height: 41px;
                    color:#2588be;
                }
            }

            .normalComment{
                .allSee {
                    border-right:none; 
                }
            }
        } // 평가 남기기 마무리
        
        .reardBox{
            clear:both;
            position:relative;
            top:76px;
            width:853px;
            p.regardTitle {
                font-size:1.3rem;
                color:#111;
                padding-bottom:14px;
                margin-bottom:20px;
                border-bottom:solid 1px #cdcfd5;
            }

            .regardList {
                > li {
                    font-size:1.2rem;color:#808080;
                    h3 {
                        font-size:1.6rem;
                        color:#111;
                        span {
                            display:block;
                            font-size:1.2rem;
                            color:#808080;
                            margin:2px 0 15px;
                            font-weight: normal;
                        }
                    }
                    > p {
                        margin-bottom:30px;
                        a { color:#808080;}
                    }

                    .regardImg { 
                        display:inline-block;
                        width:240px; height: 135px;
                        overflow: hidden;
                        cursor: pointer;
                        position: relative;
                        img { width:100%;}
                        .playBtn { 
                            position: absolute;
                            width: 50px;
                            top: 50%;
                            left: 50%;
                            margin-left: -25px;
                            margin-top: -25px;
                        }
                    }
                    .regardMovieText { 
                        display: inline-block;
                        width: 580px;
                        vertical-align: top;
                        margin-left: 14px;
                        p {
                            a { color:#808080;}
                        }
                    }
                }
                &.movie { 
                    > li{
                        margin-bottom:6px;
                    }
                }
                &.photo { 
                    > li{
                        float:left;
                        width:79px; height:79px; overflow:hidden;
                        margin-right:7px;
                        margin-bottom:7px;
                        &:nth-child(10n){ margin-right:0;}
                        img { width:100%; height:79px;}
                    }
                }
            }

            .regardPhoto { margin-top:25px;}
            
        }
    }
}


/*******************************************************************
	* Pc 반응형
*******************************************************************/

@media screen and (min-width: 1025px) and (max-width: 1201px) {
    .mainVisual { 
        min-width:1024px;
        .visualContents .visualContentsWrap {
            width:100%;
            > .contentBox {
                margin-bottom:20px;
                > .textBox {
                    width:650px;  
                }
                > .ratingBox {
                    right:30px;
                }
            }
        }
    }
    .contents {
        .contentsWrap {
            width: 1024px;
            > .rightBox {
                float: none;
                width: 100%;
                > div { 
                    width:100%;
                    &.courseRank  { display:none;}
                    &.goodText   { display:none;}
                }
            }
            
            .fieldinfoBox {
                width:100%;
            }
            .commentBox { width:100%;}
            .commentView { width:100%;}
            .reardBox { 
                width:100%;
                .regardList.photo > li:nth-child(10n) { margin-right: 7px;}
            }
            
        }
    }
}


/*******************************************************************
	* 테블릿 반응형
*******************************************************************/

@include tab{
    .mainVisual {
        height:1120px;
        min-width: 100%;
        .visualContents{
            .visualContentsWrap{
                width:90%;
                .contentBox{
                    width:100%;
                    top:150px;
                    .imgBox{
                        width:100%;
                        img{ 
                            width:100%;
                            margin-bottom:15px;
                            height:730px;
                            &.mbImg { display:block;}
                            &.pcImg { display:none;}
                        }
                    }
                    .textBox{
                        width:100%;
                        font-size:1.2rem;
                        > p {
                            font-size:1.2rem;
                        }
                    }
                }
            }
        }
    }

    .contents{
        .contentsWrap{
            width:100%;
            .rightBox{
                width:90%;
                float:none;
                margin:0 auto;
                .courseRank  { display:none;}
                .goodText { display:none;}
            }
            .fieldinfoBox{
                width:90%;
                float:none;
                margin:0 auto;
                > .fieldinfo {
                    > ul {
                        margin-left:30px;
                        li {
                            float:left;
                            font-size:1.2rem;
                            color:#9095a1;
                            margin-right:5%;
                            padding:20px 0;
                            span{
                                display:block;
                                color:#3b4458;
                                font-size:1.8rem;
                            }
                            &:last-child{ margin-right:0;}
                        }
                    }
                    > .chartBox {
                        .snsChart{
                            width: 100%;
                            // height: 1000px;
                            margin-top: 0px;
                            margin-left: 0px;
                            float:none;
                        }
                        .snsValueBox {
                            float:none;
                            width:90%; margin:0 auto;
                            > li.snsScoreBox .snsScoreText {
                                width:90%;
                            }
                        }
                    }
                }
            }
            .commentBox{
                width:90%;
                float:none;
                margin:9px auto;
            }
            .commentView {
                width:90%;
                margin:0 auto;
                float:none;
                .proComment { width:100%; float:none;}
                .normalComment {  width:100%; float:none; display:none;}
                .allSee { width:100%;}
            }
            .reardBox {
                width:90%;
                margin:0 auto;
                .regardList{
                    >li {
                        .regardMovieText {
                            width:80%;
                            margin-left:0;
                        }
                        .regardImg {
                            margin-top:20px;
                            width:100%; height:auto;
                        }
                    }
                }
            }
        }
    }
}


/*******************************************************************
	* 모바일 반응형
*******************************************************************/



@include mob{
    .mainVisual {
        height:1120px;
        .visualContents{
            .visualContentsWrap{
                width:90%;
                .contentBox{
                    width:100%;
                    top:150px;
                    .imgBox{
                        width:100%;
                        img{ 
                            width:100%;
                            margin-bottom:15px;
                            height:730px;
                            &.mbImg { display:block;}
                            &.pcImg { display:none;}
                        }
                    }
                    .textBox{
                        width:100%;
                        font-size:1rem;
                        h2 { font-size:2rem;}
                        > p {
                            font-size:1.1rem;
                        }
                    }
                    .buttonBox {
                        > ul {
                            > li {
                                width:80px; line-height: 20px;
                                &.likeBtn a { font-size:1.1rem; }
                                &.shareBtn a { font-size:1.1rem; }
                            }
                        }
                    }
                    > .ratingBox {
                        display:none;
                    }
                }
            }
        }
    }

    .contents{
        .contentsWrap{
            width:100%;
            .rightBox{
                width:90%;
                float:none;
                margin:0 auto;
                .courseRank  { display:none;}
                .goodText { display:none;}
            }
            .fieldinfoBox{
                width:90%;
                float:none;
                margin:0 auto;
                > .fieldinfo {
                    > ul { 
                        margin-left:0;
                        li { 
                            font-size:1.1rem;
                            padding:5%; margin:0;
                        }
                    }
                    > .chartBox {
                        .snsChart{
                            width: 100%;
                            height: 250px;
                            margin-top: 0px;
                            margin-left: 0px;
                            float:none;
                        }
                        .snsValueBox {
                            float:none;
                            width:90%; margin:0 auto;
                            > li.snsScoreBox .snsScoreText {
                                width:75%;
                            }
                        }
                    }
                }
            }
            .commentBox{
                width:90%;
                float:none;
                margin:9px auto;
            }
            .commentView {
                width:90%;
                margin:0 auto;
                float:none;
                .proComment { width:100%; float:none;}
                .normalComment { display:none;}
                .allSee { width:100%;}
            }
            .reardBox {
                width:90%;
                margin:0 auto;
                .regardList{
                    >li {
                        .regardMovieText {
                            width:100%; margin-left:0;
                            margin-bottom:10px;
                        }
                        .regardImg {
                            width:100%; height:auto;
                        }
                    }
                }
            }
        }
    }
}


@include mob-small{
    .contents .contentsWrap > .fieldinfoBox > .fieldinfo > .chartBox .snsValueBox > li.snsScoreBox .snsScore {
        width:30px; height:30px; line-height: 30px; font-size:1.5rem;
    }
    .contents .contentsWrap > .commentView .viewList > li .commentViewScore {
        width:30px; height:30px; line-height: 30px; font-size:1.5rem;
    }
    .contents .contentsWrap > .commentView > div .evaluationBox > ul {
        position: static;
    }
    .contents .contentsWrap > .commentView .viewList > li .likeBtnBox {
        top:25px;
    }
    .contents .contentsWrap .reardBox .regardList > li h3 {
        font-size:1.3rem;
        span { font-size:1.1rem; margin:2px 0 5px;}
    }
    .contents .contentsWrap .reardBox p.regardTitle { 
        padding-bottom:5px;
    }
}






