@charset "utf-8";

/** FONT **/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

$blueColor : #293984;
$deepblueColor : #273a85;
$grayColor : #6b6b6b;
$whiteColor : #fff;
$redColor : #ed1941;
$lightgrayColor : #ededed;


// Break Point (Desktop First 기준 내림차순 설정)
$desktop-l-width	: 1440px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 768px;
$mob-l-width		: 640px;
$mob-m-width		: 425px;
$mob-s-width		: 375px;


// only PC
@mixin pc-only {
	@media screen and (min-width: #{$tablet-l-width + 1}) {
		@content;
	}
}
// PC large
@mixin pc-large {
	@media screen and (min-width: #{$desktop-l-width + 1}) {
		@content;
	}
}
 
// --------------------------------------------------
 
// 태블릿
@mixin tab {
	@media screen and (max-width: #{$tablet-l-width}) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media screen and (max-width: #{$tablet-s-width}) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: #{$mob-l-width}) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: #{$mob-m-width}) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: #{$mob-s-width}) {
		@content;
	}
}


/** 헤더 / GNB **/
header {
    min-width:1200px;
    &.pcheader{
        position: fixed;
        top:0; width:100%;
        z-index: 100;
    }
    &.mbheader{ display:none;}
    background: #fff;
    .headerWrap {
        margin:0 auto;
        width:1200px;
        padding-top:30px;
        h1 { float:left; width:294px;}
        nav { 
            float:left;
            padding-top:18px;
            width:849px;
            .gnb li { 
                width:140px;
                float:left;
                font-size:1.7rem;
                font-weight:bold;
                padding-bottom:25px;
                position:relative;
                .line{
                    display:none;
                    position:absolute;
                    bottom:-2px;
                    width:63px;
                    height:3px;
                    margin:0;
                    border:none;
                    background:#293984;
                    z-index:100;
                }
                ul.subMenu {
                    position:absolute;
                    top:100%;
                    padding-top:25px;
                    z-index:100;
                    li {
                        font-size:1.4rem;
                        float:none;
                        margin:0;
                        padding:0;
                        line-height: 24px;
                        &:hover { color:#293984; text-decoration: underline;}
                        a { color:#505050;}
                    }
                    display:none;
                }
                &:last-child {
                    margin-right: 0px;
                }
                &:hover ul.subMenu{ display:block;}
                &:hover .line { display: block;}
            }
        }
        .language { 
            float:left;
            padding-top:20px;
            li { 
                display:inline-block;
                font-size:1.12rem;
                font-weight: bold;
                color : $grayColor;
                a { color : $grayColor; }
                &.on a { color:$blueColor;}   
            }
        }
    }
    .blind {
        display:none;
        width:100%; height:250px;
        min-width: 1200px;
        background: #fff;
        position: absolute;
        margin-top:1px;
        z-index: 50;
    }
}

/*** 서브비주얼 / 서브 네비 ***/
.subVisualWrap { min-width:1200px; margin-top:144px;}
.subVisual {
    background:url('../images/sub/sub_visual_08.png') no-repeat;
    text-align:center;
    height:200px;
    &.bisiness { background:url('../images/sub/sub_visual_08.png') no-repeat; }
    &.personnel { background:url('../images/sub/sub_visual_08.png') no-repeat; }
    &.management { background:url('../images/sub/sub_visual_08.png') no-repeat; }
    &.delivery { background:url('../images/sub/sub_visual_08.png') no-repeat; }
    &.customer { background:url('../images/sub/sub_visual_08.png') no-repeat; }
    
    .visualTitle {
        font-size:4rem;
        color:#000;
        font-weight: bold;
        position:relative;
        top:80px;
    }
}
.subNavi {
    border-top:solid 1px #bebebe;
    border-bottom:solid 1px #bebebe;
    background:#fff;
    width: 100%;
    z-index: 90;
    position: fixed;
    top:91px;
    .subNaviWrap {
        width:1200px; margin:0 auto;
        ul li {
            float:left;
            width:200px; height:50px; line-height: 50px;
            border-right:solid 1px #bebebe;
            font-size:1.4rem; font-weight: bold;
            padding:0 20px; 
            box-sizing: border-box;
            position:relative;
            &:first-child{ width:70px; text-align:center; border-left:solid 1px #bebebe; opacity: 1;}
            &:last-child{ 
                opacity:1; position:relative;
            }
            ul.navisubMenu { 
                position:absolute; 
                display:none;
                background:#fff;
                top:101%; left:-1px;
                border:solid 1px #bebebe;
                border-top:none;
                z-index: 9;
                > li { 
                    width:199px;
                    opacity: 0.5;
                    height: 50px;
                    line-height: 50px; 
                    border:none;
                    &:hover { 
                        opacity: 1;
                    }
                }
            }
            &:hover{
                ul.navisubMenu { display:block;}
            }
            &.navidepth {
                position:relative;
                ul.navisubMenu { 
                    position:absolute; left:0;
                    display:none;
                    > li { 
                        opacity: 0.5;
                        height: 50px;
                        line-height: 50px; 
                        border:none;
                        background:#fff;
                    }
                }
                &:hover{
                    ul.navisubMenu { 
                        display:block; top:101%;
                        > li { opacity: 1;}
                    }
                }
            }
            a {
                display:block;
                color:$blueColor;
                span { float:right;}   
            }
        }
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .subNavi {
        top: 92px;
    }
}
@supports (-ms-ime-align:auto) {
    .subNavi {
        top:91px;
    }
}

@include mob-large{ 
    .subVisualWrap { min-width:100%; display:none;}
}

/*** 서브페이지 컨텐츠 박스 ****/
.contentsWrap {
    width:1200px; margin:0 auto;
    .contents {
        .title{
            text-align: center;
            h2 { font-size:4rem; padding:30px 0; visibility: hidden;}
            p { font-size:2rem; line-height: 35px;}
        }
    }
    .checkBox { font-size:1.8rem; text-align: center; margin-bottom:150px;}
}




/* 버튼 스타일 */
.grayBtn {
    display:inline-block;
    background: #6e6e6e; color:#fff;
    border:none; outline: none;
    cursor: pointer;
}
.blueBtn {
    display:inline-block;
    background: #273a85; color:#fff;
    border:none; outline: none;
    cursor: pointer;
}
.fileListBtn { vertical-align: middle; cursor: pointer;}


/* 체크버튼 튜닝 */
.checks, .checks2 {position: relative; display:inline-block; margin-right:20px;}
.checks input[type="radio"],
.checks2 input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.checks input[type="radio"] + label,
.checks2 input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
}
.checks input[type="radio"] + label:before,
.checks2 input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="radio"] + label:active:before,
.checks input[type="radio"]:checked + label:active:before,
.checks2 input[type="radio"] + label:active:before,
.checks2 input[type="radio"]:checked + label:active:before  {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checks input[type="radio"]:checked + label:before,
.checks2 input[type="radio"]:checked + label:before {
    background: #E9ECEE;
    border-color: #adb8c0;
}
.checks input[type="radio"]:checked + label:after ,
.checks2 input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 9px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #273a85;
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

@include mob-large{ 
    .checks input[type="radio"] + label:before,
    .checks2 input[type="radio"] + label:before {
        width:10px; height:10px;
    }
    .checks input[type="radio"]:checked + label:after, 
    .checks2 input[type="radio"]:checked + label:after {
        top: 6px;
        left: 2px;
        width: 8px;
        height: 8px;
    }
}

/* 작은 체크버튼 튜닝  */
.checks3, .checks4 {position: relative; display:inline-block; margin-right:20px;}
.checks3 input[type="radio"],
.checks4 input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.checks3 input[type="radio"] + label,
.checks4 input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
}
.checks3 input[type="radio"] + label:before,
.checks4 input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 10px;
    height: 10px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks3 input[type="radio"] + label:active:before,
.checks3 input[type="radio"]:checked + label:active:before,
.checks4 input[type="radio"] + label:active:before,
.checks4 input[type="radio"]:checked + label:active:before  {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checks3 input[type="radio"]:checked + label:before,
.checks4 input[type="radio"]:checked + label:before {
    background: #E9ECEE;
    border-color: #adb8c0;
}
.checks3 input[type="radio"]:checked + label:after ,
.checks4 input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 17px;
    left: 2px;
    width: 8px;
    height: 8px;
    background: #273a85;
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}




/***  로봇  ***/
.g-recaptcha { display:inline-block; margin:20px auto;}


/*** 푸터 ***/
footer {
    margin-top:150px;
    background: #424242;
    min-width: 1200px;
    .footerWrap {
        max-width: 1200px;
        width:100%;
        margin:0 auto;
        h1 {
            float:left;
            margin:50px 50px 30px 167px; 
        }
        .footinfoTable { 
            float:left;
            color:#bbbdbf;
            margin-top:50px;
            h3 { font-size:1.4rem; text-align: left; padding-bottom:10px;}
            ul {
                float:left; margin-right:50px;
                li { font-size:1.5rem; }
            }
        }
        .copyright { 
            border-top:solid 1px #9a9a9a;
            text-align: center;
            color:#bbbdbf;
            font-size:1.2rem;
            padding:18px 0 20px;
            clear:both
        }
    }
    .topBtn {
        display:none;
    }
}



/* 기본스타일 */

hr.colorLine {
    background: url('../images/sub/ceo_line.png') no-repeat;
    height:2px; border:none;
}

.displayB { display:block;}
.displayI { display:inline;}
.displayIB { display:inline-block;}
.textCenter { text-align:center;}
.textLeft { text-align:left;}
.textRight { text-align:right;}


@include mob-large{
    header.pcheader { display:none;}
	header.mbheader {
        min-width:auto;
        display:block;
        .headerWrap {
            max-width:640px;
            width:100%;
            padding:3%;
            box-sizing:border-box;
            h1 {
                width:30%;
                a { display:block;}
                img { width:100%;}
            }
            .mobileMenuBtn { 
                float:right;
                width:8%; margin-top:2%;
            }   
        }

        nav{
            &.mbMenu {
                display:none;
                float: none;
                clear: both;
                width: 100%;
                padding: 0;
                position: absolute;
                background: #fff;
                z-index: 99;
                > ul.mblanguage {
                    width:100%;
                    border-top:solid 1px #bbbdbf;
                    border-bottom:solid 1px #bbbdbf;
                    > li {
                        width:50%;
                        color:#bbbdbf;
                        float:left;
                        text-align: center;
                        padding:5% 0;
                        font-size:2.5rem;
                        &.on { background:#273a85; color:#fff;}
                    }
                }
                > ul.mbMenuList {
                    > li {
                        border-bottom:solid 1px #bbbdbf;
                        font-size:2rem;
                        font-weight: bold;
                        padding:5%;
                        cursor: pointer;
                        > img { float:right; margin-top:10px;}
                        > ul {
                            margin-top:5%;
                            display: none;
                            > li {
                                font-size:2rem;
                                font-weight: normal;
                                margin:2% 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .subNavi .subNaviWrap{  width:100%;}
    .subVisual { display:none;}
    .subNavi { display:none;}
    .contentsWrap { 
        width:90%;
        .contents {
            .title h2 { 
                padding:5% 0; font-size:3rem;
                visibility: visible;
            }  
        }
    }


    footer {
        min-width: auto;
        .footerWrap {
            width:90%;
            position:relative;
            h1 { 
                width:39%;
                margin:0; float:none; padding-top:30px;
                img { width:100%;}
            }
            .footinfoTable{ float:none; margin-top:20px;}
            h3 { font-size:1.4rem; text-align: left; padding-bottom:10px;}
            ul {
                float:none; margin-right:50px;
                li { font-size:1.2rem; }
                &:last-child {
                    li { float:left; margin-right:3%;}
                }
            }
        }
        .copyright { margin-top:10px; padding:2% 0;}
        .topBtn {
            display:block;
            width:8%;
            position:absolute; top:8%; right:0;
            img{ width:100%;}
        }
    }
}


/* 375px 미만*/

@include mob-small{
    html { font-size:40%;}
}

@include mob-small{
    header.mbheader nav.mbMenu > ul.mbMenuList > li {
        font-size:2rem;
    }
    header.mbheader nav.mbMenu > ul.mbMenuList > li > img {
        margin-top:7px;
        width:5%;
    }
}